Source: osso-application-installer
Section: unknown
Priority: optional
Maintainer: Marius Vollmer <marius.vollmer@nokia>
Build-Depends: debhelper (>= 4.0.0), libapt-pkg-dev, libglib2.0-dev, libgtk2.0-dev, hildon-libs-dev
Standards-Version: 3.6.0

Package: osso-application-installer
Architecture: any
Depends: ${shlibs:Depends}
Description: A program for managing user installed applications.
 It's not done yet.
