Source: hildon-fm
Section: x11
Priority: optional
Maintainer: Kimmo Hämäläinen <kimmo.hamalainen@nokia.com> 
Build-Depends: debhelper (>= 4.0.0), pkg-config, libosso-dev (>= 0.9.1-1), libgtk2.0-dev (>= 2:2.6.10-1.osso4), outo, libxi-dev, libxt-dev, libpng12-dev, libgconf2-dev, osso-thumbnail-dev, osso-gwconnect-dev, mce-dev, osso-bttools-dev (>= 0.22), libdbus-glib-1-dev (>= 0.50-1osso), hildon-libs-dev (>= 0.12.0), libossomime-dev
Standards-Version: 3.6.0

Package: hildon-fm-dev
Section: devel
Architecture: all
Depends: hildon-fm1 (= ${Source-Version}), libgtk2.0-dev (>= 2:2.6.10-1.osso4), osso-thumbnail-dev, osso-gwconnect-dev, hildon-libs-dev (>= 0.12.0), libossomime-dev
Description: Hildon-fm development files.
 Hildon-fm development files.

Package: hildon-fm1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, hildon-fm-l10n-mr | hildon-fm-l10n-mr0, osso-gnomevfs-extra (>= 1.7.1)
Conflicts: hildon-libs0 (<< 0.7.3), hildon-lgpl0 (<< 0.8.6)
Replaces: hildon-libs0 (<< 0.7.3), hildon-lgpl0 (<< 0.8.6)
Description: LGPL-licensed file management libraries.
 Hildon-fm file management widgets: Hildon file chooser, file selector,
 File Open/Save dialog, file details dialog.

Package: hildon-fm-test
Section: libs
Architecture: all
Depends: hildon-fm1, outo
Conflicts: hildon-fm1 (<< 0.8.10)
Recommends: hildon-libs-dev (>= 0.12.0)
Description: Hildon-fm unit tests.
 Hildon-fm unit tests.

Package: hildon-fm1-dbg
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, hildon-fm-l10n-mr | hildon-fm-l10n-mr0
Recommends: hildon-libs0-dbg
Description: LGPL-licensed file management libraries (with debug symbols).
 LGPL-licensed file management libraries (with debug symbols).
