Source: kdbusd
Priority: optional
Maintainer: Kimmo Hämäläinen <kimmo.hamalainen@nokia.com>
Build-Depends: debhelper (>> 3.0.0), autotools-dev, libdbus-1-dev (>= 0.60)
Standards-Version: 3.6.1
Section: net

Package: kdbusd
Section: net
Architecture: any
Depends: ${shlibs:Depends}
Description: Kernel UEvent to D-BUS proxy
 This package contains a proxy daemon which forwards Kernel UEvents to
 D-BUS system daemon.
