Source: python-hildon
Priority: optional
Maintainer: Osvaldo Santana Neto <osvaldo.santana@indt.org.br>
Build-Depends: debhelper (>= 4.0.0), python2.4-gtk2-dev, python2.4-dev
Standards-Version: 3.6.1

Package: python2.4-hildon
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Python bindings for Hildon library

Package: python2.4-hildon-dev
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Examples for Python bindings for Hildon library

