#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

PYVER=2.4
PYTHON=python$(PYVER)

p_pygame=python2.4-pygame
p_pygamedev=python2.4-pygame-dev

d_pygame=debian/$(p_pygame)
d_pygamedev=debian/$(p_pygamedev)

doclist=$(filter-out docs/util docs/fullinstall.txt docs/LGPL,$(wildcard docs/*))

build: build-stamp4
build-stamp4:
	dh_testdir
	$(PYTHON) setup.py build
	touch build-stamp4

clean:
	dh_testdir
	dh_testroot
	-rm -f build-stamp4
	-$(PYTHON) setup.py clean
	-rm -f *.pyc *.pyo
	-rm -f Setup
	-rm -rf build
	-rm -rf $(d_pygame) $(d_pygamedev)
	dh_clean


binary: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	mkdir -p $(d_pygame)
	$(PYTHON) setup.py install --no-compile --root=$(d_pygame)
	$(PYTHON) -OO -m compileall -f $(d_pygame)
	cp -a $(d_pygame)/usr $(d_pygamedev)

	# base
	find $(d_pygame) -name "*.py" | xargs rm -f
	rm -rf $(d_pygame)/usr/include

	# dev
	dh_installexamples   -p$(p_pygamedev) examples/*
	dh_installdocs       -p$(p_pygamedev) $(doclist)
	dh_installchangelogs -p$(p_pygamedev) WHATSNEW
	find $(d_pygamedev)/usr/lib/$(PYTHON)/site-packages/pygame -not -name "*.py" -type f | xargs rm -f
	find $(d_pygamedev) -name ".svn" | xargs rm -rf

	dh_link
	dh_strip
	dh_compress -Xexamples
	dh_fixperms
	dh_installdeb
	dh_shlibdeps 
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: build clean binary
