[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=medi_ap_mediaplayer_name
Exec=/usr/bin/mediaplayer-ui
Icon=qgn_list_medi
X-Icon-path=/usr/share/pixmaps/
X-Window-Icon=tn-bookmarks-link
X-Window-Icon-Dimmed=tn-bookmarks-link-dimmed
X-HildonDesk-ShowInToolbar=true
X-Osso-Service=mediaplayer
X-Osso-Type=application/x-executable
MimeType=video/x-msvideo;audio/x-mp3;video/mpeg;audio/x-wav;audio/x-real;video/x-real;audio/x-m4a;audio/x-amr;video/x-mp4;video/3gpp;audio/x-mp2;audio/x-ms-wma;video/x-ms-wmv;video/x-ms-wm;audio/x-mpegurl;audio/x-scpls;audio/x-pn-realaudio;audio/x-pn-realaudio-plugin;video/x-ms-asf;application/x-ms-asx;audio/x-ms-wax;video/x-ms-wvx;video/x-ms-wmx;application/vnd.ms-wpl;audio/mp3;video/avi;audio/wav;audio/mpeg
Comment=medi_ap_mediaplayer_name_thumb

[X-Osso-URI-Actions]
rtsp=X-Osso-URI-Action-Open;
mms=X-Osso-URI-Action-Open;
http=X-Osso-URI-Action-Open;


[X-Osso-URI-Action-Open]
Method=mime_open
Name=uri_link_play
TranslationDomain=osso-uri


