Source: hildon-application-framework
Section: base
Priority: optional
Maintainer: Carlos Guerreiro <carlos@maemo.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: hildon-application-framework
Architecture: all
Depends: bluez-utils,
 evolution-data-server,
 hildon-control-panel,
 hildon-theme-plankton,
 libxfixes3 (>= 1:3.0.1.2-3), 
 maemo-af-desktop,
 maemo-af-desktop-config,
 hildon-application-installer,
 osso-bluez-compat,
 osso-dsp-plugin-alsa,
 osso-gwconnect,
 osso-memory-backend,
 osso-obc,
 osso-obexsrv,
 osso-thumbnail,
 osso-update-category-database,
 posix-locales,
 telepathy-feed
Conflicts: libxtrans-dev
Description: Hildon Application Framework metapackage.
 This package depends on packages forming the Hildon Application Framework. 

#Section: base
#Package: hildon-application-framework-dev
#Depends: hildon-application-framework (= ${Source-Version}),
# libglade2-0, libglade2-dev, 
#Architecture: all
#Description: Hildon Application Framework development metapackage.
# This package depends on development packages of the HAF.
