Source: hildon-application-framework
Section: base
Priority: optional
Maintainer: Carlos Guerreiro <carlos@maemo.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: hildon-application-framework
Architecture: all
Depends: bluez-utils,
 evolution-data-server,
 hildon-control-panel,
 hildon-theme-plankton,
 libxfixes3 (>= 1:3.0.1.2-3), 
 maemo-af-desktop,
 maemo-af-desktop-config,
 hildon-application-manager,
 osso-bluez-compat,
 osso-dsp-plugin-alsa,
 osso-gwconnect,
 osso-memory-backend,
 osso-obc,
 osso-obexsrv,
 osso-thumbnail,
 osso-update-category-database,
 posix-locales,
 telepathy-feed
Description: Hildon Application Framework metapackage.
 Installing this package gives you the complete
 Hildon Application Framework. 

Package: hildon-application-framework-dev
Architecture: all
Conflicts: libxtrans-dev
Description: Hildon Application Framework development metapackage.
 Installing this package makes sure you have the correct environment
 for development for the Hildon Application Framework.  You should not
 use this package in Build-Dependencies, but installing it will make
 sure that you have no deprecated packages.
