[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=ai_ap_application_installer
Exec=/usr/bin/osso-application-installer
MimeType=application/x-debian-package;application/x-deb
Icon=qgn_list_app_installer
X-Window-Icon=qgn_list_app_installer
X-Window-Icon-Dimmed=qgn_list_app_installer
X-HildonDesk-ShowInToolbar=true
X-Osso-Service=com.nokia.osso_application_installer
X-Osso-Type=application/x-executable
