#################################################### 
# GTK DIALOG
#
# Copyright 2004,2005 Nokia Oyj
#
# Theming instructions for GtkDialog -widget
#
# The outer border/frame graphics are themed in matchbox
# theme files located in ../matchbox/*
#
# Only change is setting the button spacing to 5
# pixels.
#
#################################################### 

style "osso-multipage-dialog" {
  GtkDialog::button_spacing = 6
  GtkDialog::content_area_border = 6
  GtkDialog::content_area_spacing = 18
  GtkDialog::action_area_border = 0
  GtkDialog::extended_left_border = 0
  GtkDialog::extended_right_border = 0
  GtkNotebook::inner_left_border = 12
  GtkNotebook::inner_right_border = 12
}

widget_class "GtkDialog.GtkVBox.GtkNotebook" style "osso-multipage-dialog"

style "osso-dialog" {
  GtkDialog::button_spacing = 6
#  GtkDialog::content_area_border = 10
  GtkDialog::content_area_border = 0
  GtkDialog::action_area_border = 10
  GtkDialog::extended_left_border = 0
  GtkDialog::extended_right_border = 0
}

class "GtkDialog" style "osso-dialog"
