#################################################### 
# HILDON status bar
#################################################### 

style "osso-status-bar-background" {
	bg_pixmap[NORMAL] = "../images/qgn_plat_status_bar_background.png"
}
widget "HildonStatusBar" style "osso-status-bar-background"

style "osso-status-bar-button" {
  GtkButton::default_border = { 0, 0, 0, 0 }
  GtkButton::default_outside_border = { 0, 0, 0, 0 }
  GtkButton::child_spacing = 0
  xthickness = 0
  ythickness = 0
  engine "sapwood" {
    image {
      function = BOX
      state = ACTIVE
      file = "../images/qgn_plat_status_bar_pressed.png"
    }
    image {
      function = BOX
    }
  }
}
widget "*.HildonStatusBarItem" style "osso-status-bar-button"

#
# Statusbar popup menus
#

style "osso-status-bar-popup" 
{

   GtkMenu::horizontal_padding = 18
   GtkMenu::vertical_padding = 18

    engine "sapwood" 
    {
        image 
        {
            function = FLAT_BOX
            state = NORMAL
            file = "../images/qgn_plat_application_menu_lower_level_frame.png"
	        border = { 20, 20, 20, 20 }
            stretch = TRUE
            shaped = TRUE
        }
    }
}

widget "hildon-status-bar-popup" style "osso-status-bar-popup"

#################################################### 
# HILDON statusbar
#################################################### 

style "osso-frame-statusbar" {

   GtkFrame::hildonlike = 1

   engine "sapwood" {
      image {
    	 function = BOX
         state = NORMAL
	     file = "../images/qgn_plat_status_bar_background.png"	
	     border = { 0,0,0,0 }	
	     stretch = TRUE
      }
   }
}
widget "*.hildonframe-statusbar" style "osso-frame-statusbar"
