#################################################### 
# GTK RADIOBUTTON
#
#################################################### 
	
style "osso-radiobutton"
{
  GtkCheckButton::indicator-size = 26
  GtkCheckButton::indicator-spacing = 2
  
  ythickness = 0

  engine "sapwood"
  {
    image
      {
        function        = OPTION
	shadow          = OUT
	state           = NORMAL
	overlay_file    = "../images/qgn_plat_button_radio_empty_normal.png"
	overlay_border  = { 0, 0, 0, 0 }
	overlay_stretch = TRUE
      }
    image
      {
       function        = OPTION
	shadow          = IN
	state           = NORMAL
	overlay_file    = "../images/qgn_plat_button_radio_selected_normal.png"
	overlay_border  = { 0, 0, 0, 0 }
	overlay_stretch = TRUE
      }
    image
      {
        function        = OPTION
	shadow          = OUT
	state           = PRELIGHT
	overlay_file    = "../images/qgn_plat_button_radio_empty_normal.png"
	overlay_border  = { 0, 0, 0, 0 }
	overlay_stretch = TRUE
      }
    image
      {
        function        = OPTION
	shadow          = IN
	state           = PRELIGHT
	overlay_file    = "../images/qgn_plat_button_radio_selected_normal.png"
	overlay_border  = { 0, 0, 0, 0 }
	overlay_stretch = TRUE
      }
    image
      {
        function        = OPTION
	shadow          = OUT
	state           = ACTIVE
	overlay_file    = "../images/qgn_plat_button_radio_empty_focused.png"
	overlay_border  = { 0, 0, 0, 0 }
	overlay_stretch = TRUE
      }
    image
      {
        function        = OPTION
	shadow          = IN
	state           = ACTIVE
	overlay_file    = "../images/qgn_plat_button_radio_selected_focused.png"
	overlay_border  = { 0, 0, 0, 0 }
	overlay_stretch = TRUE
      }
    image
      {
        function        = OPTION
	shadow          = OUT
	state           = INSENSITIVE
	overlay_file    = "../images/qgn_plat_button_radio_empty_disabled.png"
	overlay_border  = { 0, 0, 0, 0 }
	overlay_stretch = TRUE
      }
    image 
      {
        function        = OPTION
	shadow          = IN
	state           = INSENSITIVE
	overlay_file    = "../images/qgn_plat_button_radio_selected_disabled.png"
	overlay_border  = { 0, 0, 0, 0 }
	overlay_stretch = TRUE
      }
  }
}
class "GtkRadioButton" style "osso-radiobutton"

widget_class "*.GtkRadioButton.GtkLabel" style "osso-SystemFont"
