####################################################
# HILDON VOLUMEBAR
#
# Theming instructions for HildonSeekBar -widget
#
# NOTE: Different theming instructions for horizontal
#	and vertical versions
#
# NOTE: Stepper arrows have to be themed specially
# 	for vertical volumebar
#
####################################################

style "osso-volumebar-horizontal"
{
  HildonVolumebarRange::stepper_size = 26
  HildonVolumebarRange::stepper_spacing = 0
  HildonVolumebarRange::slider_width = 58
  HildonVolumebarRange::slider_length = 23
  HildonVolumebarRange::focus_line_width = 0
  HildonVolumebarRange::focus_padding = 0
  HildonVolumebarRange::stepper_spacing = 6
  HildonVolumebarRange::arrow_displacement_x = 0
  HildonVolumebarRange::arrow_displacement_y = 0
  HildonVolumebarRange::trough_border = 0
  HildonVolumebarRange::hildonlike = 1
  HildonVolumebarRange::value_spacing = 0
  HildonVolumebarRange::autodimmed_steppers = 1
  HildonVolumebarRange::two_part_trough = 1
  HildonVolumebarRange::draw_trough_under_steppers = 0
  
  engine "sapwood"
  {
    image
    {
      function = BOX
      detail = "background"
      state = NORMAL
      file = "../images/qgn_plat_volume_bar_horizontal_regular_background_normal.png"
      border = {20, 20, 28, 28}
      stretch = TRUE
    }
    image
    {
      function = BOX
      detail = "background"
      state = INSENSITIVE
      file = "../images/qgn_plat_volume_bar_horizontal_regular_background_disabled.png"
      border = {20, 20, 28, 28}
      stretch = TRUE
    }
    image
    {
      function = BOX
      detail = "stepper"
    }
    image
    {
      function = BOX
      detail = "trough_northwest"
      state = INSENSITIVE
      file = "../images/qgn_plat_volume_bar_horizontal_regular_shaft_left_disabled.png"
      border = {4, 0, 0, 0}
      stretch = TRUE
    }
    image
    {
      function = BOX
      detail = "trough_northwest"
      file = "../images/qgn_plat_volume_bar_horizontal_regular_shaft_left_normal.png"
      border = {4, 0, 0, 0}
      stretch = TRUE
    }
    image
    {
      function = BOX
      detail = "trough_southeast"
      state = INSENSITIVE
      file = "../images/qgn_plat_volume_bar_horizontal_regular_shaft_right_disabled.png"
      border = {0, 4, 0, 0}
      stretch = TRUE
    }
    image
    {
      function = BOX
      detail = "trough_southeast"
      file = "../images/qgn_plat_volume_bar_horizontal_regular_shaft_right_normal.png"
      border = {0, 4, 0, 0}
      stretch = TRUE
    }
    image
    {
      function = SLIDER
      detail = "slider"
      orientation = HORIZONTAL
      state = INSENSITIVE
      file = "../images/qgn_plat_volume_bar_horizontal_regular_thumb_disabled.png"
    }
    image
    {
      function = SLIDER
      detail = "slider"
      orientation = HORIZONTAL
      file = "../images/qgn_plat_volume_bar_horizontal_regular_thumb_normal.png"
    }
    image
    {
      function = ARROW
      arrow_direction = LEFT
      state = INSENSITIVE
      overlay_file = "../images/qgn_plat_volume_bar_horizontal_regular_less_button_disabled.png"
      overlay_stretch = FALSE
    }
    image
    {
      function = ARROW
      state = ACTIVE
      arrow_direction = LEFT
      overlay_file = "../images/qgn_plat_volume_bar_horizontal_regular_less_button_pressed.png"
      overlay_stretch = FALSE
    }
    image
    {
      function = ARROW
      arrow_direction = LEFT
      overlay_file = "../images/qgn_plat_volume_bar_horizontal_regular_less_button_normal.png"
      overlay_stretch = FALSE
    }
    image
    {
      function = ARROW
      arrow_direction = RIGHT
      state = INSENSITIVE
      overlay_file = "../images/qgn_plat_volume_bar_horizontal_regular_more_button_disabled.png"
      overlay_stretch = FALSE
    }
    image
    {
      function = ARROW
      state = ACTIVE
      arrow_direction = RIGHT
      overlay_file = "../images/qgn_plat_volume_bar_horizontal_regular_more_button_pressed.png"
      overlay_stretch = FALSE
    }
    image
    {
      function = ARROW
      arrow_direction = RIGHT
      overlay_file = "../images/qgn_plat_volume_bar_horizontal_regular_more_button_normal.png"
      overlay_stretch = FALSE
    }
  }
}
class "HildonHVolumebar" style "osso-volumebar-horizontal" 
widget_class "*.HildonHVolumebar.HildonVolumebarRange" style "osso-volumebar-horizontal"

style "osso-volumebar-horizontal-mutebutton"
{

  GtkWidget::focus_line_pattern = "\0\0\0\0\0\0\0\0"
  
  engine "sapwood"
  {
    image
    {
      function = BOX
      shadow = OUT
      state = INSENSITIVE
      file = "../images/qgn_plat_volume_bar_horizontal_regular_mute_button_disabled.png"
      stretch = TRUE
    }
    image
    {
      function = BOX
      shadow = OUT
      file = "../images/qgn_plat_volume_bar_horizontal_regular_mute_button_normal.png"
      stretch = TRUE
    }
    image
    {
      function = BOX
      shadow = IN
      state = INSENSITIVE
      file = "../images/qgn_plat_volume_bar_horizontal_regular_mute_button_disabled_pressed.png"
      stretch = TRUE
    }
    image
    {
      function = BOX
      shadow = IN
      file = "../images/qgn_plat_volume_bar_horizontal_regular_mute_button_pressed.png"
      stretch = TRUE
    }
    image
    {
      function = FOCUS
      state = INSENSITIVE
      file = "../images/qgn_plat_volume_bar_horizontal_regular_mute_button_disabled_pressed.png"
      stretch = TRUE
    }
    image
    {
      function = FOCUS
      file = "../images/qgn_plat_volume_bar_horizontal_regular_mute_button_pressed.png"
      stretch = TRUE
    }
  }
}
widget_class "*.HildonHVolumebar.GtkToggleButton" style "osso-volumebar-horizontal-mutebutton"

style "osso-volumebar-vertical"
{
  HildonVolumebarRange::stepper_size = 26
  HildonVolumebarRange::slider_width = 58
  HildonVolumebarRange::slider_length = 23
  HildonVolumebarRange::focus_line_width = 0
  HildonVolumebarRange::focus_padding = 0
  HildonVolumebarRange::stepper_spacing = 6
  HildonVolumebarRange::arrow_displacement_x = 0
  HildonVolumebarRange::arrow_displacement_y = 0
  HildonVolumebarRange::trough_border = 0
  HildonVolumebarRange::hildonlike = 1
  HildonVolumebarRange::value_spacing = 0
  HildonVolumebarRange::autodimmed_steppers = 1
  HildonVolumebarRange::two_part_trough = 1 
  HildonVolumebarRange::draw_trough_under_steppers = 0
  
  engine "sapwood"
  {
    image
    {
      function = BOX
      detail = "background"
      state = NORMAL
      file = "../images/qgn_plat_volume_bar_vertical_regular_background_normal.png"
      border = {28, 28, 20, 20}
      stretch = TRUE
    }
    image
    {
      function = BOX
      detail = "background"
      state = INSENSITIVE
      file = "../images/qgn_plat_volume_bar_vertical_regular_background_disabled.png"
      border = {28, 28, 20, 20}
      stretch = TRUE
    }
    image
    {
      function = BOX
      detail = "stepper"
    }
    image
    {
      function = BOX
      detail = "trough_northwest"
      state = INSENSITIVE
      file = "../images/qgn_plat_volume_bar_vertical_regular_shaft_top_disabled.png"
      border = {0, 0, 4, 0}
      stretch = TRUE
    }
    image
    {
      function = BOX
      detail = "trough_northwest"
      file = "../images/qgn_plat_volume_bar_vertical_regular_shaft_top_normal.png"
      border = {0, 0, 4, 0}
      stretch = TRUE
    }
    image
    {
      function = BOX
      detail = "trough_southeast"
      state = INSENSITIVE
      file = "../images/qgn_plat_volume_bar_vertical_regular_shaft_bottom_disabled.png"
      border = {0, 0, 0, 4}
      stretch = TRUE}
    image
    {
      function = BOX
      detail = "trough_southeast"
      file = "../images/qgn_plat_volume_bar_vertical_regular_shaft_bottom_normal.png"
      border = {0, 0, 0, 4}
      stretch = TRUE
    }
    image
    {
      function = SLIDER
      detail = "slider"
      orientation = VERTICAL
      state = INSENSITIVE
      file = "../images/qgn_plat_volume_bar_vertical_regular_thumb_disabled.png"
    }
    image
    {
      function = SLIDER
      detail = "slider"
      orientation = VERTICAL
      file = "../images/qgn_plat_volume_bar_vertical_regular_thumb_normal.png"
    }
    image
    {
      function = ARROW
      arrow_direction = UP
      state = INSENSITIVE
      overlay_file = "../images/qgn_plat_volume_bar_vertical_regular_more_button_disabled.png"
      overlay_stretch = FALSE
    }
    image
    {
      function = ARROW
      state = ACTIVE
      arrow_direction = UP
      overlay_file = "../images/qgn_plat_volume_bar_vertical_regular_more_button_pressed.png"
      overlay_stretch = FALSE
    }
    image
    {
      function = ARROW
      arrow_direction = UP
      overlay_file = "../images/qgn_plat_volume_bar_vertical_regular_more_button_normal.png"
      overlay_stretch = FALSE
    }
    image
    {
      function = ARROW
      arrow_direction = DOWN
      state = INSENSITIVE
      overlay_file = "../images/qgn_plat_volume_bar_vertical_regular_less_button_disabled.png"
      overlay_stretch = FALSE
    }
    image
    {
      function = ARROW
      state = ACTIVE
      arrow_direction = DOWN
      overlay_file = "../images/qgn_plat_volume_bar_vertical_regular_less_button_pressed.png"
      overlay_stretch = FALSE
    }
    image
    {
      function = ARROW
      arrow_direction = DOWN
      overlay_file = "../images/qgn_plat_volume_bar_vertical_regular_less_button_normal.png"
      overlay_stretch = FALSE
    }
  }
}
class "HildonVVolumebar" style "osso-volumebar-vertical"
widget_class "*.HildonVVolumebar.HildonVolumebarRange" style "osso-volumebar-vertical"

style "osso-volumebar-vertical-mutebutton"
{

  GtkWidget::focus_line_pattern = "\0\0\0\0\0\0\0\0"
  
  engine "sapwood"
  {
    image
    {
      function = BOX
      shadow = OUT
      state = INSENSITIVE
      file = "../images/qgn_plat_volume_bar_vertical_regular_mute_button_disabled.png"
      stretch = TRUE
    }
    image
    {
      function = BOX
      shadow = OUT
      file = "../images/qgn_plat_volume_bar_vertical_regular_mute_button_normal.png"
      stretch = TRUE
    }
    image
    {
      function = BOX
      shadow = IN
      state = INSENSITIVE
      file = "../images/qgn_plat_volume_bar_vertical_regular_mute_button_disabled_pressed.png"
      stretch = TRUE
    }
    image
    {
      function = BOX
      shadow = IN
      file = "../images/qgn_plat_volume_bar_vertical_regular_mute_button_pressed.png"
      stretch = TRUE
    }
    image
    {
      function = FOCUS
      state = INSENSITIVE
      file = "../images/qgn_plat_volume_bar_vertical_regular_mute_button_disabled_pressed.png"
      stretch = TRUE
    }
    image
    {
      function = FOCUS
      file = "../images/qgn_plat_volume_bar_vertical_regular_mute_button_pressed.png"
      stretch = TRUE
    }
  }
}
widget_class "*.HildonVVolumebar.GtkToggleButton" style "osso-volumebar-vertical-mutebutton"

style "osso-volumebar-toolbar"
{
  HildonVolumebarRange::stepper_size = 26
  HildonVolumebarRange::slider_width = 40
  HildonVolumebarRange::slider_length = 23
  HildonVolumebarRange::focus_line_width = 0
  HildonVolumebarRange::focus_padding = 0
  HildonVolumebarRange::stepper_spacing = 6
  HildonVolumebarRange::arrow_displacement_x = 0
  HildonVolumebarRange::arrow_displacement_y = 0
  HildonVolumebarRange::trough_border = 0
  HildonVolumebarRange::hildonlike = 1
  HildonVolumebarRange::value_spacing = 0
  HildonVolumebarRange::autodimmed_steppers = 1
  HildonVolumebarRange::two_part_trough = 1 
  HildonVolumebarRange::draw_trough_under_steppers = 0
  
  engine "sapwood"
  {
    image
    {
      function = BOX
      detail = "background"
      state = NORMAL
      file = "../images/qgn_plat_volume_bar_toolbar_background_normal.png"
      border = {20, 20, 18, 18}
      stretch = TRUE
    }
    image
    {
      function = BOX
      detail = "background"
      state = INSENSITIVE
      file = "../images/qgn_plat_volume_bar_toolbar_background_disabled.png"
      border = {20, 20, 18, 18}
      stretch = TRUE
    }
    image
    {
      function = BOX
      detail = "stepper"
    }
    image
    {
      function = BOX
      detail = "trough_northwest"
      state = INSENSITIVE
      file = "../images/qgn_plat_volume_bar_toolbar_shaft_left_disabled.png"
      border = {4, 0, 0, 0}
      stretch = TRUE
    }
    image
    {
      function = BOX
      detail = "trough_northwest"
      file = "../images/qgn_plat_volume_bar_toolbar_shaft_left_normal.png"
      border = {4, 0, 0, 0}
      stretch = TRUE
    }
    image
    {
      function = BOX
      detail = "trough_southeast"
      state = INSENSITIVE
      file = "../images/qgn_plat_volume_bar_toolbar_shaft_right_disabled.png"
      border = {0, 4, 0, 0}
      stretch = TRUE
    }
    image
    {
      function = BOX
      detail = "trough_southeast"
      file = "../images/qgn_plat_volume_bar_toolbar_shaft_right_normal.png"
      border = {0, 4, 0, 0}
      stretch = TRUE
    }
    image
    {
      function = SLIDER
      detail = "slider"
      orientation = HORIZONTAL
      state = INSENSITIVE
      file = "../images/qgn_plat_volume_bar_toolbar_thumb_disabled.png"
    }
    image
    {
      function = SLIDER
      detail = "slider"
      orientation = HORIZONTAL
      file = "../images/qgn_plat_volume_bar_toolbar_thumb_normal.png"
    }
    image
    {
      function = ARROW
      arrow_direction = LEFT
      state = INSENSITIVE
      overlay_file = "../images/qgn_plat_volume_bar_toolbar_less_button_disabled.png"
      overlay_stretch = FALSE
    }
    image
    {
      function = ARROW
      state = ACTIVE
      arrow_direction = LEFT
      overlay_file = "../images/qgn_plat_volume_bar_toolbar_less_button_pressed.png"
      overlay_stretch = FALSE
    }
    image
    {
      function = ARROW
      arrow_direction = LEFT
      overlay_file = "../images/qgn_plat_volume_bar_toolbar_less_button_normal.png"
      overlay_stretch = FALSE
    }
    image
    {
      function = ARROW
      arrow_direction = RIGHT
      state = INSENSITIVE
      overlay_file = "../images/qgn_plat_volume_bar_toolbar_more_button_disabled.png"
      overlay_stretch = FALSE
    }
    image
    {
      function = ARROW
      state = ACTIVE
      arrow_direction = RIGHT
      overlay_file = "../images/qgn_plat_volume_bar_toolbar_more_button_pressed.png"
      overlay_stretch = FALSE
    }
    image
    {
      function = ARROW
      arrow_direction = RIGHT
      overlay_file = "../images/qgn_plat_volume_bar_toolbar_more_button_normal.png"
      overlay_stretch = FALSE
    }
  }
}
widget_class "*.GtkToolbar.GtkToolItem.HildonHVolumebar" style "osso-volumebar-toolbar"
widget_class "*.GtkToolbar.GtkToolItem.HildonHVolumebar.HildonVolumebarRange" style "osso-volumebar-toolbar" 

style "osso-volumebar-toolbar-mutebutton"
{

  GtkWidget::focus_line_pattern = "\0\0\0\0\0\0\0\0"
  
  engine "sapwood"
  {
    image
    {
      function = BOX
      shadow = OUT
      state = INSENSITIVE
      file = "../images/qgn_plat_volume_bar_toolbar_mute_button_disabled.png"
      stretch = TRUE
    }
    image
    {
      function = BOX
      shadow = OUT
      file = "../images/qgn_plat_volume_bar_toolbar_mute_button_normal.png"
      stretch = TRUE
    }
    image
    {
      function = BOX
      shadow = IN
      state = INSENSITIVE
      file = "../images/qgn_plat_volume_bar_toolbar_mute_button_disabled_pressed.png"
      stretch = TRUE
    }
    image
    {
      function = BOX
      shadow = IN
      file = "../images/qgn_plat_volume_bar_toolbar_mute_button_pressed.png"
      stretch = TRUE
    }
    image
    {
      function = FOCUS
      state = INSENSITIVE
      file = "../images/qgn_plat_volume_bar_toolbar_mute_button_disabled_pressed.png"
      stretch = TRUE
    }
    image
    {
      function = FOCUS
      file = "../images/qgn_plat_volume_bar_toolbar_mute_button_pressed.png"
      stretch = TRUE
    }
  }
}
widget_class "*.GtkToolbar.GtkToolItem.HildonHVolumebar.GtkToggleButton" style "osso-volumebar-toolbar-mutebutton"
