####################################################  
# OSSO RSS FEED READER
#
# Copyright 2005 Nokia Oyj
#
####################################################
style "osso-rss-feed-reader"
{
  GtkFrame::hildonlike = 1
  xthickness = 0
  ythickness = 0

  engine "sapwood"
    {
      image
        {
          function = BOX
          file     = "../images/qgn_plat_news_applet_bg.png"
          border   = { 55, 55, 55, 15 }
          stretch  = TRUE
          shaped = TRUE
        }
    }
}
widget "*.osso-rss-feed-reader" style "osso-rss-feed-reader"
