#!/usr/bin/make -f

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
#DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
#DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
#			--host=$(DEB_HOST_GNU_TYPE) 	\
#			--build=$(DEB_BUILD_GNU_TYPE) 		\

# Install directories
p_base=python2.4-gtk2
p_dev=$(p_base)-dev

d=debian/tmp
d_base=debian/$(p_base)
d_dev=debian/$(p_dev)

build-2.4/config.status: configure
	dh_testdir
	mkdir -p build-2.4
	autoconf
	cd build-2.4 && PYTHON=`which python2.4` \
		../configure \
			--prefix=/usr \
			--enable-thread \
			--disable-numpy

build:  build-2.4/config.status build-stamp
build-stamp: 
	dh_testdir
	$(MAKE) -C build-2.4
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	rm -Rf debian/tmp-*
	-rm -rf debian/python2.4-gtk2
	-rm -rf debian/python2.4-gtk2-dev
	-rm -rf build-2.4
	find -name "*.pyc" -exec rm -f {} \;
	find -name "*.pyo" -exec rm -f {} \;
	dh_clean codegen/*.pyc

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) -C build-2.4 install DESTDIR=$(CURDIR)/debian/tmp

	rm -rf $(d_base) && mkdir -p $(d_base)
	rm -rf $(d_dev) && mkdir -p $(d_dev)

	# Base
	mkdir -p $(d_base)/usr/lib
	cp -a $(d)/usr/lib/python2.4		$(d_base)/usr/lib
	find $(d_base) -name "*.py" -exec rm -f {} \;
	find $(d_base) -name "*.pyc" -exec rm -f {} \;
	find $(d_base) -name "*.la" -exec rm -f {} \;

	# Dev
	mkdir -p $(d_dev)/usr/bin
	mkdir -p $(d_dev)/usr/lib/pygtk/2.0
	mkdir -p $(d_dev)/usr/share/pygtk/2.0
	mkdir -p $(d_dev)/usr/include
	mv $(d)/usr/bin/pygtk-demo 		$(d_dev)/usr/bin
	mv $(d)/usr/lib/pkgconfig		$(d_dev)/usr/lib
	mv $(d)/usr/lib/python2.4		$(d_dev)/usr/lib
	mv $(d)/usr/lib/pygtk/2.0/pygtk-demo.py	$(d_dev)/usr/lib/pygtk/2.0
	mv $(d)/usr/lib/pygtk/2.0/demos		$(d_dev)/usr/lib/pygtk/2.0
	mv $(d)/usr/bin/pygtk-codegen-2.0	$(d_dev)/usr/bin
	mv $(d)/usr/share/pygtk/2.0/codegen	$(d_dev)/usr/share/pygtk/2.0
	mv $(d)/usr/share/pygtk/2.0/defs	$(d_dev)/usr/share/pygtk/2.0
	mv $(d)/usr/include/pygtk-2.0		$(d_dev)/usr/include
	find $(d_dev) -name "*.pyc" -exec rm -f {} \;
	find $(d_dev) -name "*.pyo" -exec rm -f {} \;
	find $(d_dev) -name "*.so" -exec rm -f {} \;
	find $(d_dev) -name "*.pth" -exec rm -f {} \;

binary: build install
	dh_testdir -a -i
	dh_testroot -a -i
	dh_installexamples -a -i

	# Replace all '#!' calls to python with python2.4
        # and make them executable
	for i in `find debian/python2.4* -type f`; do \
	  sed '1s,#!.*python[^ ]*\(.*\),#!/usr/bin/python2.4,' \
		$$i > $$i.temp; \
	  if cmp --quiet $$i $$i.temp; then \
	    rm -f $$i.temp; \
	  else \
	    mv -f $$i.temp $$i; \
	    chmod 755 $$i; \
	    echo "fixed interpreter: $$i"; \
	  fi; \
	done

	dh_strip -a -i
	dh_link -a -i
	dh_compress -a -i
	dh_fixperms -a -i
	dh_python -a -i
	dh_installdeb -a -i
	dh_shlibdeps -a -i
	dh_gencontrol -a -i
	dh_md5sums -a -i
	dh_builddeb -a -i

.PHONY: build clean binary install 
