#!/usr/bin/make -f
# -*- mode: makefile -*-
# Made with the aid of debmake, by Christoph Lameter,
# based on the sample debian/rules file for GNU hello by Ian Jackson.

export SHELL	= /bin/bash

PYV=2.4
PYTHON=python$(PYV)
PYLIB=usr/lib/python$(PYV)/config
PYSITE=usr/lib/python$(PYV)/site-packages

p_num	= python$(PYV)-numeric
p_dev   = python$(PYV)-numeric-dev

d_num	= debian/$(p_num)
d_dev   = debian/$(p_dev)

d = debian/tmp

build: stamp-build
stamp-build:
	dh_testdir
	CFLAGS="-Os" $(PYTHON) setup.py build
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f stamp-*
	-rm -rf `find -name build -type d`
	-rm -rf $(d_num) $(d_dev) $(d)
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	mkdir -p $(d)/usr

	$(PYTHON) setup.py install --prefix=$(d)/usr
	$(PYTHON) -OO -m compileall -f $(d)/usr

	cp -a $(d)/usr $(d_num)
	cp -a $(d)/usr $(d_dev)

	# base
	find $(d_num) -type f -name "*.py" | xargs rm -f
	find $(d_num) -type f -name "*.pyc" | xargs rm -f
	rm -rf $(d_num)/usr/include

	# dev
	find $(d_dev) -type f -name "*.so" | xargs rm -f
	find $(d_dev) -type f -name "*.py[co]" | xargs rm -f
	rm -f $(d_dev)/$(PYSITE)/Numeric.pth

binary: build install
	dh_testdir
	dh_testroot

	dh_installdirs -p$(p_dev) $(PYSITE)/NumTut usr/share/doc/$(p_num)

	cp -a Demo/NumTut $(d_dev)/$(PYSITE)
	chmod a+x $(d_dev)/$(PYSITE)/NumTut/__init__.py $(d_dev)/$(PYSITE)/NumTut/view.py

	dh_link -p$(p_dev) /$(PYSITE)/NumTut /usr/share/doc/$(p_num)/NumTut
	install -m 644 doc/numpy.pdf $(d_dev)/usr/share/doc/$(p_num)
	cp -a doc/www.pfdubois.com/numpy/html2 $(d_dev)/usr/share/doc/$(p_num)/html

	: # Replace all '#!' calls to python with python
	: # and make them executable
	for i in `find $(d_dev) -type f`; do \
	  sed '1s,#!.*python[^ ]*\(.*\),#!/usr/bin/python2.4\1,' \
		$$i > $$i.temp; \
	  if cmp --quiet $$i $$i.temp; then \
	    rm -f $$i.temp; \
	  else \
	    mv -f $$i.temp $$i; \
	    chmod 755 $$i; \
	    echo "fixed interpreter: $$i"; \
	  fi; \
	done

	mkdir -p $(d_dev)/usr/share/doc/$(p_num)/examples/Demo
	cp -a Test $(d_dev)/usr/share/doc/$(p_num)/examples
	cp -p Demo/*.py $(d_dev)/usr/share/doc/$(p_num)/examples/Demo
	rm -f $(d_dev)/usr/share/doc/$(p_num)/examples/Test/testwin.bat

	find $(d_num) $(d_dev) -name '.svn' | xargs rm -rf

	dh_python
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_strip
	dh_compress
	dh_builddeb

.PHONY: binary binary-arch binary-indep clean
