#!/usr/bin/make -f
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.

export SHELL = /bin/bash

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

DEB_BUILD_ARCH		?= $(shell dpkg-architecture -qDEB_BUILD_ARCH)

export VER=2.4
export PVER=python2.4

PY_INTERPRETER = /usr/bin/python$(VER)

CC = gcc

ifeq ($(DEB_BUILD_ARCH),arm)
	#OPTSETTINGS = OPT="-Os -mfloat-abi=softfp -Wall -Wstrict-prototypes"
	OPTSETTINGS = OPT="-Wall -Wstrict-prototypes"
else
	OPTSETTINGS = OPT="-Os -Wall -Wstrict-prototypes"
endif

PWD		:= $(shell pwd)
buildd_shared	:= $(PWD)/build-shared

d		:= debian/tmp
scriptdir	=  usr/lib/python$(VER)

# package names and directories
p_base		:= $(PVER)
p_dev		:= $(PVER)-dev

d_base		:= debian/$(p_base)
d_dev		:= debian/$(p_dev)

build: stamp-build
stamp-build: stamp-build-shared
	touch stamp-build

stamp-build-shared: stamp-configure-shared
	dh_testdir
	$(MAKE) -C $(buildd_shared)
	: # build the shared library
	$(MAKE) -C $(buildd_shared) libpython$(VER).so
	touch stamp-build-shared

common_configure_args = \
		--prefix=/usr \
		--with-fpectl \
		--enable-ipv6 \
		--enable-unicode=ucs2 \
		--without-cxx \
		--srcdir=..

stamp-configure-shared:
	mkdir -p $(buildd_shared)
	cd $(buildd_shared) && \
	  CC="$(CC)" $(OPTSETTINGS) \
	    ../configure \
		--enable-shared \
		$(common_configure_args)

	touch stamp-configure-shared

clean:
	dh_testdir
	dh_testroot
	rm -f stamp-*
	rm -f patch-stamp* pxxx
	rm -f debian/test_results
	-$(MAKE) -f Makefile.pre.in srcdir=. distclean
	rm -rf Lib/test/db_home
	rm -rf $(buildd_shared)
	-find -name '*.py[co]' | xargs -n 50 rm -f
	rm -rf locales
	dh_clean

install: build stamp-install

stamp-install: stamp-build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	: # make install into tmp and subsequently move the files into
	: # their packages' directories.
	install -d $(d)/usr
	$(MAKE) -C $(buildd_shared) install \
		prefix=$(PWD)/$(d)/usr

	: # remove files, which are not packaged
	rm -f $(d)/usr/bin/smtpd.py

	: # move manpages to new names
	mkdir -p $(d)/usr/share/man/man1
	mv $(d)/usr/man/man1/python.1 \
		$(d)/usr/share/man/man1/python$(VER).1
	ln -sf $(d)/usr/share/man/man1/python$(VER).1 $(d)/usr/man/man1/python.1

	: # install the shared library
	cp -p $(buildd_shared)/libpython$(VER).so.1.0 $(d)/usr/lib/
	ln -sf libpython$(VER).so.1.0 $(d)/usr/lib/libpython$(VER).so.1
	ln -sf libpython$(VER).so.1 $(d)/usr/lib/libpython$(VER).so
	ln -sf ../../libpython$(VER).so $(d)/usr/lib/python$(VER)/config/libpython$(VER).so

	: # install the Makefile of the shared python build
	sed -e 's,^CXX *=,CXX=		g++ -pthread,' \
	    -e 's,^RUNSHARED *=.*,RUNSHARED=,' \
		build-shared/Makefile > $(d)/$(scriptdir)/config/Makefile

	: # manpage
	dh_installdirs -p$(p_dev) \
		usr/share/man/man1
	dh_movefiles -p$(p_dev) --sourcedir=$(d) \
		usr/share/man/man1/python$(VER).1 \

	: # scripts and binaries
	dh_installdirs -p$(p_base) \
		usr/bin \
		$(scriptdir)
	dh_movefiles -p$(p_base) --sourcedir=$(d) \
		usr/bin/python$(VER) \
		$(foreach i,$(MIN_EXTS),$(scriptdir)/lib-dynload/$(i).so) \
		$(foreach i,$(MIN_MODS),$(scriptdir)/$(i).py)

	: # Move the library and the header files into $(p_dev).
	dh_installdirs -p$(p_dev) \
		$(scriptdir) \
		$(scriptdir)/doc/html \
		usr/include \
		usr/lib
	dh_movefiles -p$(p_dev) --sourcedir=$(d) \
		usr/lib/python$(VER)/config \
		usr/include/python$(VER) \
		usr/lib/libpython$(VER).so

	: # INDT CHANGES
	: # Remove unneeded modules	
	rm -rf \
		$(d)/$(scriptdir)/idlelib \
		$(d)/$(scriptdir)/lib-tk \
		$(d)/$(scriptdir)/lib-old \
		$(d)/$(scriptdir)/config \
		$(d)/$(scriptdir)/bsddb \
		$(d)/$(scriptdir)/test \
		$(d)/$(scriptdir)/email/test \
		$(d)/$(scriptdir)/xml/{dom,parsers,sax} \
		$(d)/$(scriptdir)/aifc.* \
		$(d)/$(scriptdir)/audiodev.* \
		$(d)/$(scriptdir)/SimpleHTTPServer.* \
		$(d)/$(scriptdir)/SimpleXMLRPCServer.* \
		$(d)/$(scriptdir)/CGIHTTPServer.* \
		$(d)/$(scriptdir)/cgi.* \
		$(d)/$(scriptdir)/cgitb.* \
		$(d)/$(scriptdir)/dbhash.* \
		$(d)/$(scriptdir)/curses \
		$(d)/$(scriptdir)/tzparse.* \
		$(d)/$(scriptdir)/posixfile.* \
		$(d)/$(scriptdir)/DocXMLRPCServer.* \
		$(d)/$(scriptdir)/getpass.* \
		$(d)/$(scriptdir)/macpath.* \
		$(d)/$(scriptdir)/macurl2path.* \
		$(d)/$(scriptdir)/mutex.* \
		$(d)/$(scriptdir)/netrc.* \
		$(d)/$(scriptdir)/nturl2path.* \
		$(d)/$(scriptdir)/os2emxpath.* \
		$(d)/$(scriptdir)/pty.* \
		$(d)/$(scriptdir)/pyclbr.* \
		$(d)/$(scriptdir)/regsub.* \
		$(d)/$(scriptdir)/rexec.* \
		$(d)/$(scriptdir)/rlcompleter.* \
		$(d)/$(scriptdir)/robotparser.* \
		$(d)/$(scriptdir)/smtpd.* \
		$(d)/$(scriptdir)/statcache.* \
		$(d)/$(scriptdir)/statvfs.* \
		$(d)/$(scriptdir)/stringold.* \
		$(d)/$(scriptdir)/subprocess.* \
		$(d)/$(scriptdir)/sunaudio.* \
		$(d)/$(scriptdir)/sunau.* \
		$(d)/$(scriptdir)/symtable.* \
		$(d)/$(scriptdir)/tabnanny.* \
		$(d)/$(scriptdir)/telnetlib.* \
		$(d)/$(scriptdir)/this.* \
		$(d)/$(scriptdir)/timeit.* \
		$(d)/$(scriptdir)/toaiff.* \
		$(d)/$(scriptdir)/trace.* \
		$(d)/$(scriptdir)/tty.* \
		$(d)/$(scriptdir)/user.* \
		$(d)/$(scriptdir)/whrandom.* \
		$(d)/$(scriptdir)/xdrlib.* \
		$(d)/$(scriptdir)/LICENSE.txt \
		$(d)/$(scriptdir)/lib-dynload/rgbimage.so \
		$(d)/$(scriptdir)/lib-dynload/rgbimg.so \
		$(d)/$(scriptdir)/lib-dynload/audioop.so \
		$(d)/$(scriptdir)/lib-dynload/crypt.so \
		$(d)/$(scriptdir)/lib-dynload/linuxaudiodev.so \
		$(d)/$(scriptdir)/lib-dynload/nis.so \
		$(d)/$(scriptdir)/lib-dynload/mmap.so \
		$(d)/$(scriptdir)/lib-dynload/readline.so \
		$(d)/$(scriptdir)/lib-dynload/ossaudiodev.so \
		$(d)/$(scriptdir)/lib-dynload/syslog.so \
		$(d)/$(scriptdir)/lib-dynload/termios.so 

	: # base
	mkdir -p $(d_base)/$(scriptdir)
	mv $(d)/usr/lib/libpython$(VER).so.* $(d_base)/usr/lib
	cp -a $(d)/$(scriptdir) $(d_base)/usr/lib
	rm -rf $(d_base)/$(scriptdir)/distutils
	rm -rf $(d_base)/$(scriptdir)/pdb.*
	rm -rf $(d_base)/$(scriptdir)/pydoc.*
	rm -rf $(d_base)/$(scriptdir)/BaseHTTPServer.*
	rm -rf $(d_base)/$(scriptdir)/compile*
	rm -rf $(d_base)/$(scriptdir)/encodings/{cp*,mac_*}
	rm -rf $(d_base)/$(scriptdir)/doctest*
	rm -rf $(d_base)/$(scriptdir)/unittest*
	rm -rf $(d_base)/$(scriptdir)/hotshot
	find $(d_base)/$(scriptdir) -name "*.py" -type f -exec rm -f {} \;
	find $(d_base)/$(scriptdir) -name "*.pyc" -type f -exec rm -f {} \;

	: # modules and dirs outside zip
	mkdir -p $(d_base)/usr/lib/tmp
	mv $(d_base)/$(scriptdir)/site-packages $(d_base)/usr/lib/tmp
	mv $(d_base)/$(scriptdir)/lib-dynload   $(d_base)/usr/lib/tmp
	mv $(d_base)/$(scriptdir)/plat-linux2   $(d_base)/usr/lib/tmp

	mv $(d_base)/$(scriptdir)/site.pyo      $(d_base)/usr/lib/tmp
	mv $(d_base)/$(scriptdir)/os.pyo        $(d_base)/usr/lib/tmp
	mv $(d_base)/$(scriptdir)/posixpath.pyo $(d_base)/usr/lib/tmp
	mv $(d_base)/$(scriptdir)/stat.pyo      $(d_base)/usr/lib/tmp
	mv $(d_base)/$(scriptdir)/UserDict.pyo  $(d_base)/usr/lib/tmp
	mv $(d_base)/$(scriptdir)/copy_reg.pyo  $(d_base)/usr/lib/tmp
	mv $(d_base)/$(scriptdir)/types.pyo     $(d_base)/usr/lib/tmp
	mv $(d_base)/$(scriptdir)/glob.pyo      $(d_base)/usr/lib/tmp
	mv $(d_base)/$(scriptdir)/fnmatch.pyo   $(d_base)/usr/lib/tmp
	mv $(d_base)/$(scriptdir)/{re,sre}.pyo  $(d_base)/usr/lib/tmp
	mv $(d_base)/$(scriptdir)/sre_compile.pyo $(d_base)/usr/lib/tmp
	mv $(d_base)/$(scriptdir)/sre_constants.pyo $(d_base)/usr/lib/tmp
	mv $(d_base)/$(scriptdir)/sre_parse.pyo $(d_base)/usr/lib/tmp

	: # zipping
	(cd $(d_base)/$(scriptdir) && zip -0qr ../python24.zip *)
	find $(d_base)/$(scriptdir) -name "*.pyo" -type f -exec rm -f {} \;

	: # recover saved files
	mv $(d_base)/usr/lib/tmp/* $(d_base)/$(scriptdir)
	rmdir $(d_base)/usr/lib/tmp

	: # dev
	mkdir -p $(d_dev)/$(scriptdir)
	cp -a $(d)/$(scriptdir) $(d_dev)/usr/lib
	rm -rf $(d_dev)/$(scriptdir)/site-packages
	rm -rf $(d_dev)/$(scriptdir)/lib-dynload
	rm -rf $(d_dev)/$(scriptdir)/plat-linux2
	rm -rf $(d_dev)/$(scriptdir)/distutils/*wininst*

	: # protect
	mkdir -p $(d_dev)/tmp
	mv $(d_dev)/$(scriptdir)/distutils $(d_dev)/tmp
	mv $(d_dev)/$(scriptdir)/pdb.* $(d_dev)/tmp
	mv $(d_dev)/$(scriptdir)/pydoc.* $(d_dev)/tmp
	mv $(d_dev)/$(scriptdir)/BaseHTTPServer.* $(d_dev)/tmp
	mv $(d_dev)/$(scriptdir)/compile* $(d_dev)/tmp
	mv $(d_dev)/$(scriptdir)/encodings/{cp*,mac_*} $(d_dev)/tmp
	mv $(d_dev)/$(scriptdir)/doctest* $(d_dev)/tmp
	mv $(d_dev)/$(scriptdir)/unittest* $(d_dev)/tmp
	mv $(d_dev)/$(scriptdir)/hotshot $(d_dev)/tmp
	find $(d_dev)/$(scriptdir) -name "*.pyo" -type f | xargs rm -f
	mv $(d_dev)/tmp/* $(d_dev)/$(scriptdir)

	: # remove some things
	-find debian -name CVS | xargs rm -rf
	-find debian -name .cvsignore | xargs rm -f

	#DEFAULT PYTHON
	(cd $(d_base)/usr/bin && ln -sf python$(VER) python)
	mkdir -p $(d_dev)/usr/bin
	ln -sf /usr/lib/python$(VER)/pdb.py $(d_dev)/usr/bin/pdb$(VER)
	ln -sf pdb$(VER) $(d_dev)/usr/bin/pdb
	ln -sf /usr/lib/python$(VER)/pydoc.py $(d_dev)/usr/bin/pydoc$(VER)
	ln -sf pydoc$(VER) $(d_dev)/usr/bin/pydoc
	cp -p Tools/i18n/pygettext.py $(d_dev)/usr/bin/pygettext$(VER)
	ln -sf pygettext$(VER) $(d_dev)/usr/bin/pygettext

	: # Replace all '#!' calls to python with $(PY_INTERPRETER)
	: # and make them executable
	for i in `find debian/python2.4 debian/python2.4-dev -type f`; do \
	  sed '1s,#!.*python[^ ]*\(.*\),#! $(PY_INTERPRETER)\1,' \
		$$i > $$i.temp; \
	  if cmp --quiet $$i $$i.temp; then \
	    rm -f $$i.temp; \
	  else \
	    mv -f $$i.temp $$i; \
	    chmod 755 $$i; \
	    echo "fixed interpreter: $$i"; \
	  fi; \
	done

	touch stamp-install


# Build architecture-independent files here.
binary-indep: build install
	dh_testdir -i
	dh_testroot -i

	: # $(p_doc) package
	dh_installdirs -p$(p_doc) \
		usr/share/doc/$(p_base)/html \
		usr/share/doc/$(p_doc) \
		usr/share/info
	cat Doc/html*.tar \
		| (cd $(d_doc)/usr/share/doc/$(p_base)/html; tar xf -)
	-find $(d_doc)/usr/share/doc/$(p_base)/html ! -type d ! -perm 644
	-find $(d_doc)/usr/share/doc/$(p_base)/html ! -type d ! -perm 644 \
		| xargs chmod 644
	mv $(d_doc)/usr/share/doc/$(p_base)/html/Python-Docs*/* \
		$(d_doc)/usr/share/doc/$(p_base)/html/.
	rmdir $(d_doc)/usr/share/doc/$(p_base)/html/Python-Docs*

	dh_link -p$(p_doc) \
		/usr/share/doc/$(p_base)/html /usr/share/doc/$(p_doc)/html

	dh_installdebconf -i
	dh_installexamples -i
	dh_installmenu -i
	dh_link -i
	dh_compress -i -X.py -X.cls -X.css -X.txt -Xgdbinit
	dh_fixperms -i

	: # make python scripts starting with '#!' executable
	for i in \
	  `find debian/python2.4 debian/python2.4-dev -mindepth 2 -type f ! -perm 755 ! -name 'sample.*'`; \
	do \
	  if head -1 $$i | grep -q '^#!'; then \
	    chmod 755 $$i; \
	    echo "make executable: $$i"; \
	  fi; \
	done
	-find $(d_doc) -name '*.txt' -perm 755 -exec chmod 644 {} \;

	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installexamples -a
	dh_installmenu -a
	dh_strip -a
	dh_link -a
	dh_compress -a -X.py
	dh_fixperms -a

	: # make python scripts starting with '#!' executable
	for i in \
	  `find debian/python2.4 debian/python2.4-dev -mindepth 2 -type f ! -perm 755 ! -name 'sample.*'`; \
	do \
	  if head -1 $$i | grep -q '^#!'; then \
	    chmod 755 $$i; \
	    echo "make executable: $$i"; \
	  fi; \
	done

	dh_makeshlibs -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-arch

.PHONY: control-file configure build clean binary-indep binary-arch binary install

# Local Variables:
# mode: makefile
# end:
