Package: dpkg
Version: 1.13.13.osso6.1
Section: admin
Priority: required
Architecture: i386
Essential: yes
Pre-Depends: libc6 (>= 2.3.5-1)
Depends: coreutils | textutils (>= 2.0-3)
Suggests: apt
Conflicts: sysvinit (<< 2.82-1), dpkg-iasearch (<< 0.11), dpkg-static, dpkg-dev (<< 1.10)
Replaces: dpkg-doc-ja, dpkg-static, manpages-de (<= 0.4-3)
Installed-Size: 552
Maintainer: Dpkg Developers <team@dpkg.org>
Description: package maintenance system for Debian
 This package contains the low-level commands for handling the installation
 and removal of packages on your system.
 .
 In order to unpack and build Debian source packages you will need to
 install the developers' package `dpkg-dev' as well as this one.
