#!/usr/bin/make -f


export DH_COMPAT=3

SHELL = /bin/bash

CFLAGS = -g

configure: configure-stamp
configure-stamp:
	dh_testdir
	tar -xjf freetype-2.1.10.tar.bz2
	cd freetype-2.1.10 && ./configure --prefix=/usr --sysconfdir=/etc
	touch configure-stamp


build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	$(MAKE) -C freetype-2.1.10
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -rf freetype-2.1.10
	rm -fr objs/.libs
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) -C freetype-2.1.10 install DESTDIR=$(CURDIR)/debian/libfreetype6
	install -d $(CURDIR)/debian/libfreetype6-dev/usr
	install -d $(CURDIR)/debian/libfreetype6-dev/usr/lib
	install -d $(CURDIR)/debian/libfreetype6-dev/usr/share
	install -d $(CURDIR)/debian/libfreetype6-dbg/usr
	install -d $(CURDIR)/debian/libfreetype6-dbg/usr/lib
	install -d $(CURDIR)/debian/libfreetype6-dbg/usr/lib/debug
	mv $(CURDIR)/debian/libfreetype6/usr/include $(CURDIR)/debian/libfreetype6-dev/usr/
	mv $(CURDIR)/debian/libfreetype6/usr/lib/pkgconfig $(CURDIR)/debian/libfreetype6-dev/usr/lib/
	mv $(CURDIR)/debian/libfreetype6/usr/bin $(CURDIR)/debian/libfreetype6-dev/usr/
	mv $(CURDIR)/debian/libfreetype6/usr/share/aclocal $(CURDIR)/debian/libfreetype6-dev/usr/share/
	mv $(CURDIR)/debian/libfreetype6/usr/lib/libfreetype.a $(CURDIR)/debian/libfreetype6-dev/usr/lib/
	mv $(CURDIR)/debian/libfreetype6/usr/lib/libfreetype.la $(CURDIR)/debian/libfreetype6-dev/usr/lib/
	cp --no-dereference $(CURDIR)/debian/libfreetype6/usr/lib/libfreetype.so* $(CURDIR)/debian/libfreetype6-dbg/usr/lib/debug/
	mv $(CURDIR)/debian/libfreetype6/usr/lib/libfreetype.so $(CURDIR)/debian/libfreetype6-dev/usr/lib/
	dh_strip
	

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_makeshlibs -V
	dh_installchangelogs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
