Source: hildon-theme-default
Section: user/themes
Priority: optional
Maintainer: Michael Dominic Kostrzewa  <michael.kostrzewa@nokia.com>
Build-Depends: debhelper (>= 4.0.0), hildon-theme-layout-3
Standards-Version: 3.6.0

Package: hildon-theme-default
Architecture: all
Depends: gtk2-engines-sapwood, ui-fonts, osso-icons
Description: A maemo/hildon theme. 
