Source: gazpacho-hildon
Priority: optional
Maintainer: Fernando Herrera <fernando.herrera-de-las-heras@nokia.com>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: gazpacho-hildon
Section: libs
Architecture: all
Depends: python2.4-hildon (>= 0.5.2)
Description: Hildon support for Gazpacho
