Package: python2.5-gobject
Version: 2.12.2-1osso1
Section: python
Priority: optional
Architecture: armel
Depends: python2.5, libgtk2.0-0, libc6 (>= 2.3.5-1), libglib2.0-0 (>= 2.8.6-1osso1)
Installed-Size: 192
Maintainer: Osvaldo Santana Neto <osvaldo.santana@indt.org.br>
Source: python-gobject
Description: Python bindings for the GTK+ widget set
 This archive contains modules that allow you to use GTK+ in Python
 programs. This package contains the bindings for the new version 2.0
 of that toolkit.
