Source: gnomevfs-obex 
Section: libs
Priority: optional
Maintainer: Richard Hult <richard@imendio.com>
Build-Depends: debhelper (>= 4.0.0), libglib2.0-dev (>= 2.8), libopenobex1-dev, libgwobex-dev (>= 0.47), libosso-gnomevfs2-dev (>= 2.16.3), libdbus-glib-1-dev, osso-gwconnect-dev (>=0.93.2), libexpat1-dev
Standards-Version: 3.6.1.0

Package: gnomevfs-obex
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Replaces: osso-gnomevfs-extra
Conflicts: osso-gnomevfs-extra
Provides: osso-gnomevfs-extra
Description: GnomeVFS OBEX
 This package contains OBEX related extentions for GnomeVFS.
  * An OBEX GnomeVFS module
  * Small library to retrieve the capabilities object from a remote devices.

Package: gnomevfs-obex-dev
Section: devel
Architecture: any
Depends: gnomevfs-obex (= ${Source-Version}), libosso-gnomevfs2-dev (>= 2.16.3), libglib2.0-dev
Description: GnomeVFS OBEX Development files
 Development files for the gnomevfs-obex package.

Package: gnomevfs-obex-dbg
Section: devel
Priority: extra
Architecture: any
Depends: gnomevfs-obex (= ${Source-Version})
Description: GnomeVFS OBEX debugging symbols
 Development files for the gnomevfs-obex package.
