Source: pybluez
Section: python
Priority: optional
Maintainer: Osvaldo Santana Neto <osvaldo.santana@indt.org.br>
Build-Depends: debhelper (>= 4.0.0), python2.4 (>= 2.4-1), python2.4-dev (>= 2.4-1), libbluetooth1 (>= 2.11-1), libbluetooth1-dev (>= 2.11-1)
Standards-Version: 3.6.1

Package: python2.4-bluez
Architecture: any
Depends: python2.4
Description: Python wrappers around BlueZ
 PyBlueZ is an effort to create python wrappers around bluez to allow python
 developers to use system bluetooth resources. PyBluez works on machines
 running the GNU/Linux operating system and the bluez bluetooth stack. 
 .
 This package contains a PyBlueZ build for use with Python 2.4

Package: python2.4-bluez-dev
Architecture: any
Depends: python2.4-bluez
Description: Development files for Python wrappers around BlueZ.
