#!/usr/bin/make -f

PYVER=2.4
PYTHON=python$(PYVER)
p_base=$(PYTHON)-bluez
p_dev =$(PYTHON)-bluez-dev

d_base=debian/$(p_base)
d_dev=debian/$(p_dev)

ifeq ($(DEB_BUILD_ARCH),armel)
        CFLAGS=-Os -mthumb -mfloat-abi=softfp -Wall -Wstrict-prototypes
else
        CFLAGS=-Os -Wall -Wstrict-prototypes
endif

build: build24-stamp 
build24-stamp:
	dh_testdir 
	CFLAGS="$(CFLAGS)" $(PYTHON) setup.py build
	touch build24-stamp

clean:
	dh_testdir
	dh_testroot
	-rm -f build24-stamp
	-rm -rf build
	-rm -f doc/{,_}bluetooth.html
	-rm -rf $(d_base) $(d_dev)
	dh_clean 

binary:
binary-indep:
binary-arch:
	dh_testdir
	dh_testroot

	mkdir -p $(d_base) $(d_dev)
	$(PYTHON) setup.py install --root=$(d_base) --no-compile
	$(PYTHON) -OO -m compileall -f $(d_base)
	(cd doc && ./gendoc)
	cp -a $(d_base)/usr $(d_dev)

	# base
	find $(d_base) -name "*.py" | xargs rm -f 

	# dev
	find $(d_dev)/usr/lib/$(PYTHON) -not -name "*.py" -type f | xargs rm -f 
	dh_installexamples -p$(p_dev) examples/*
	dh_installdocs -p$(p_dev) doc/*.html
	
	find $(d_dev) -name ".svn" | xargs rm -rf

	dh_installchangelogs -p$(p_dev)
	dh_installman -p$(p_dev)
	dh_strip
	dh_compress -Xexamples
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: build clean binary configure
