#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


p   := python-bluez
p24 := python2.4-bluez
d24 := debian/$(p24)

#pd  := python-bluez-doc
#dd  := debian/$(pd)


CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

PY_BUILD_FLAGS += --debug

build: build24-stamp 

build24-stamp:
	dh_testdir 
	python2.4 ./setup.py build $(PY_BUILD_FLAGS)
	touch build24-stamp

clean:
	dh_testdir
	dh_testroot
	-rm -f build24-stamp

	rm -rf build
	rm -f doc/{,_}bluetooth.html
	dh_clean 

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman

	python2.4 ./setup.py install --prefix="$$PWD/$(d24)/usr" --no-compile

	dh_strip
	dh_compress
	dh_fixperms
#	dh_python
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
