Package: python2.5-gobject-dev
Version: 2.12.2-1osso1
Section: python
Priority: optional
Architecture: all
Depends: python2.5-gobject (= 2.12.2-1osso1)
Installed-Size: 448
Maintainer: Osvaldo Santana Neto <osvaldo.santana@indt.org.br>
Source: python-gobject
Description: GTK+ bindings: devel files
 This archive contains files that allow you to build wrappers for addon
 that interoperate python-gtk2 (pygtk).
