[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Hello World GTK Test
Exec=/usr/bin/hello-world
Icon=hello-world
X-Window-Icon=tn-bookmarks-link
X-HildonDesk-ShowInToolbar=true
X-Osso-Service=hello_world_app
X-Osso-Type=application/x-executable
Terminal=false
