[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Hello World GTK Test
Exec=/var/lib/install/usr/bin/hello-world
Icon=pkg_hello-world-app
X-Window-Icon=tn-bookmarks-link
X-HildonDesk-ShowInToolbar=true
X-Osso-Service=com.nokia.hello_world_app
X-Osso-Type=application/x-executable
Terminal=false
