#!/usr/bin/make -f


PYVERSION=2.4
PYTHON=python$(PYVERSION)

p_pyrex = python2.4-pyrex
d_pyrex = debian/$(p_pyrex)

filename=pyrexc
fullfilename=$(PYTHON)-$(filename)

configure: configure-stamp
configure-stamp:
	dh_testdir
	# nothing to do
	touch configure-stamp

build: build-stamp
build-stamp: configure-stamp 
	find . -name .DS_Store -exec rm -rf {} \;
	find [DPTCs]* -type f -exec chmod -x {} \;
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -rf $(d_pyrex)
	$(PYTHON) setup.py clean --all
	find . -name "*.py[co]" -exec rm -rf {} \;
	dh_clean

binary:
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	$(PYTHON) setup.py install --root=$(d_pyrex) --no-compile

	sed -i "s|#!/usr/bin/python.*|#!/usr/bin/python2.4|" $(d_pyrex)/usr/bin/$(filename)
	mv $(d_pyrex)/usr/bin/$(filename) $(d_pyrex)/usr/bin/$(fullfilename)
	install -d $(d_pyrex)/usr/share/man/man1/
	install -p -m644 debian/$(fullfilename).1  $(d_pyrex)/usr/share/man/man1/$(fullfilename).1

	mkdir -p $(d_pyrex)/usr/share/$(p_pyrex)
	cp Doc/* $(d_pyrex)/usr/share/$(p_pyrex)
	cp -a Demos $(d_pyrex)/usr/share/$(p_pyrex)
	cp -a Tools $(d_pyrex)/usr/share/$(p_pyrex)
	find $(d_pyrex)/usr/share/$(p_pyrex) -name ".svn" | xargs rm -rf

	dh_link -p$(p_pyrex) usr/bin/$(fullfilename) usr/bin/$(filename)
	dh_link -p$(p_pyrex) usr/share/man/man1/$(fullfilename).1.gz usr/share/man/man1/$(filename).1.gz

	dh_installdebconf	
	dh_installchangelogs CHANGES.txt
	dh_installdocs
	dh_installexamples
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: build clean binary install configure
