#! /bin/sh

. /usr/share/debconf/confmodule

db_input medium libpango1.0-common/use_defoma || true
db_go || true
db_get libpango1.0-common/use_defoma
if [ "$RET" = "true" ]; then
	if test -f /etc/pango/pangox.aliases && ! test -h /etc/pango/pangox.aliases; then
		db_input high libpango1.0-common/saved_aliases_file || true
		db_go || true
	fi
else
	if test -f /etc/pango/pangox.aliases && test -h /etc/pango/pangox.aliases; then
		db_input high libpango1.0-common/generated_aliases_file || true
		db_go || true
	fi
fi
