
##################
# STUFF DONE AFTER INCLUDES
#
# This sets these styles if no other style 
# has been already set.
##################

widget "*osso-SystemFont" style "osso-SystemFont"
widget "*osso-EmpSystemFont" style "osso-EmpSystemFont"
widget "*osso-TitleFont" style "osso-TitleFont"
widget "*osso-ButtonFont" style "osso-ButtonFont"
widget "*osso-SmallFont" style "osso-SmallFont"
widget "*osso-LargeFont" style "osso-LargeFont"
widget "*osso-HWRFont1" style "osso-HWRFont1"
widget "*osso-HWRFont2" style "osso-HWRFont2"

# Setting default font style
class "GtkWidget" style "osso-SystemFont"

# Setting application menu pop-up position
widget "*.menu_force_with_corners" style "osso-application-menu-popup-position"

# Setting GtkEntry drawing type flag (whether to use our gtk_paint_box or
# gtk's original gtk_paint_shadow
class "GtkEntry" style "osso-entry-special"

####
# To be moved :
####

style "Toolbar_max_expand"
{
GtkToolbar::max_child_expand = 48
}

class "GtkWidget" style "Toolbar_max_expand"
