# Copyright Nokia Corporation 2007
# Licensed under Creative Commons Attribution-ShareAlike 2.5 license

widget "*osso-SystemFont" style "osso-SystemFont"
widget "*osso-EmpSystemFont" style "osso-EmpSystemFont"
widget "*osso-TitleFont" style "osso-TitleFont"
widget "*osso-ButtonFont" style "osso-ButtonFont"
widget "*osso-SmallFont" style "osso-SmallFont"
widget "*osso-LargeFont" style "osso-LargeFont"
widget "*osso-HWRFont1" style "osso-HWRFont1"
widget "*osso-HWRFont2" style "osso-HWRFont2"

# Setting default font style
class "GtkWidget" style "osso-SystemFont"

# Setting application menu pop-up position
widget "*.menu_force_with_corners" style "osso-application-menu-popup-position"

####
# To be moved :
####

style "Toolbar_max_expand"
{
GtkToolbar::max_child_expand = 48
}

class "GtkWidget" style "Toolbar_max_expand"
