# Copyright Nokia Corporation 2007
# Licensed under Creative Commons Attribution-ShareAlike 2.5 license

style "hildon-default-arrows"
{
  # different arrows in different states
  engine "sapwood"
  {

    # left
    image
      {
        function        = ARROW
	state           = PRELIGHT
	arrow_direction = LEFT
	overlay_file    = "../images/qgn_plat_arrow_left_pressed.png"
	overlay_stretch = FALSE
      }
image
      {
        function        = ARROW
	state           = ACTIVE
	arrow_direction = LEFT
	overlay_file    = "../images/qgn_plat_arrow_left_pressed.png"
	overlay_stretch = FALSE
      }
    image
      {
        function        = ARROW
	state           = SELECTED
	arrow_direction = LEFT
	overlay_file    = "../images/qgn_plat_arrow_left_pressed.png"
	overlay_stretch = FALSE
      }
    image
      {
        function        = ARROW
	state           = INSENSITIVE
	arrow_direction = LEFT
	overlay_file    = "../images/qgn_plat_arrow_left_disabled.png"
	overlay_stretch = FALSE
      }
    image
      {
        function        = ARROW
	arrow_direction = LEFT
	overlay_file    = "../images/qgn_plat_arrow_left_normal.png"
	overlay_stretch = FALSE
      }
    
    # right
    image
      {
        function        = ARROW
	state           = ACTIVE
	arrow_direction = RIGHT
	overlay_file    = "../images/qgn_plat_arrow_right_pressed.png"
	overlay_stretch = FALSE
      }
    image
      {
        function        = ARROW
	state           = PRELIGHT
	arrow_direction = RIGHT
	overlay_file    = "../images/qgn_plat_arrow_right_pressed.png"
	overlay_stretch = FALSE
      }
     image
      {
        function        = ARROW
	state           = SELECTED
	arrow_direction = RIGHT
	overlay_file    = "../images/qgn_plat_arrow_right_pressed.png"
	overlay_stretch = FALSE
      }
    image
      {
        function        = ARROW
	state           = INSENSITIVE
	arrow_direction = RIGHT
	overlay_file    = "../images/qgn_plat_arrow_right_disabled.png"
	overlay_stretch = FALSE
      }
    image
      {
        function        = ARROW
	arrow_direction = RIGHT
	overlay_file    = "../images/qgn_plat_arrow_right_normal.png"
	overlay_stretch = FALSE
      }

    # up
    image
      {
        function        = ARROW
	state           = ACTIVE
	arrow_direction = UP
	overlay_file    = "../images/qgn_plat_arrow_up_pressed.png"
	overlay_stretch = FALSE
      }
    image
      {
        function        = ARROW
	state           = PRELIGHT
	arrow_direction = UP
	overlay_file    = "../images/qgn_plat_arrow_up_pressed.png"
	overlay_stretch = FALSE
      }
    image
      {
        function        = ARROW
	state           = SELECTED
	arrow_direction = UP
	overlay_file    = "../images/qgn_plat_arrow_up_pressed.png"
	overlay_stretch = FALSE
      } 
    image
      {
        function        = ARROW
	state           = INSENSITIVE
	arrow_direction = UP
	overlay_file    = "../images/qgn_plat_arrow_up_disabled.png"
	overlay_stretch = FALSE
      }
    image
      {
        function        = ARROW
	arrow_direction = UP
	overlay_file    = "../images/qgn_plat_arrow_up_normal.png"
	overlay_stretch = FALSE
      }
    
    # down
    image
      {
        function        = ARROW
	state           = ACTIVE
	arrow_direction = DOWN
	overlay_file    = "../images/qgn_plat_arrow_down_pressed.png"
	overlay_stretch = FALSE
      }
    image
      {
        function        = ARROW
	state           = PRELIGHT
	arrow_direction = DOWN
	overlay_file    = "../images/qgn_plat_arrow_down_pressed.png"
	overlay_stretch = FALSE
      }
     image    
      {
        function        = ARROW
	state           = SELECTED
	arrow_direction = DOWN
	overlay_file    = "../images/qgn_plat_arrow_down_pressed.png"
	overlay_stretch = FALSE
      }
    image
      {
        function        = ARROW
	state           = INSENSITIVE
	arrow_direction = DOWN
	overlay_file    = "../images/qgn_plat_arrow_down_disabled.png"
	overlay_stretch = FALSE
      }
    image
      {
        function        = ARROW
	arrow_direction = DOWN
	overlay_file    = "../images/qgn_plat_arrow_down_normal.png"
	overlay_stretch = FALSE
      }
  }
}

class "GtkWidget" style "hildon-default-arrows"
