#################################################### 
# GTK BUTTON
#
# Copyright 2004,2005 Nokia Oyj
#
# Both Dialog buttons and view buttons are themed
# here.
#
# TODO :
#   - pressed&active state needed for togglebuttons?
#   - can focused_pressed & pressed states be combined?
#   - Separate support for horizontal / vertical
#     viewbutton images?
# 
# Buttons inside GtkHButton will 
# automatically look like dialog buttons.
#
# Buttons inside a GtkTable will
# automatically look like view buttons.
#
# There is also a button image used for a button
# that is not inside either GtkHButtonBox or GtkTable.
#
# Buttons will have different graphics depending on
# the position they are in relation to other buttons.
# We are using button details for that.
#
# Button details are following:
#
# - osso_button
# - osso_button_tl
# - osso_button_tr
# - osso_button_bl
# - osso_button_br
# - osso_button_tl_bl
# - osso_button_tr_br
# - osso_button_tl_tr
# - osso_button_bl_br
# - osso_button_tl_tr_bl_br
#
# Where tl, tr, bl and br indicate whether the that
# button is connected to topleft, topright, bottomleft 
# and bottomright corners of the container.
#
# Therefore osso_button_tl is the graphics used for
# the top-left button in gtktable and osso_button_tl_tr
# is used for rightmost dialogbutton. osso_button_tl_tr_bl_br
# is used when button is alone.
#
# Only osso_button. osso_button_tl_bl, osso_button_tr_br and
# osso_button_tl_tr_bl_br is used for dialog buttons.
#
# Buttons not inside either GtkHButtonBox or GtkTable use
# following detail.
#
# - buttondefault
#
#################################################### 

# Normal Button styles:
style "osso-button" {

  GtkWidget::focus-line-pattern = "\0\0\0\0\0\0\0\0"
  GtkWidget::focus-width = 0
  GtkButton::default_border = { 0, 0, 0, 0 }
  GtkButton::child-displacement-x = -2
  GtkButton::child-displacement-y = 2
  GtkButton::interior_focus = 0
  GtkButton::child_spacing = 1
  xthickness = 7
  ythickness = 0

  engine "sapwood" {

    # Default button
    image {
        function = FOCUS
	state    = ACTIVE
	detail   = "buttondefault"
	file     = "../images/qgn_plat_view_button_nesw_pressed_focused.png"
	border   = { 14, 14, 14, 14 }
    }
    image {
        function = FOCUS
	detail   = "buttondefault"
	file     = "../images/qgn_plat_view_button_nesw_focused.png"
	border   = { 14, 14, 14, 14 }
    }
    image {
        function = BOX
	shadow   = IN
	detail   = "buttondefault"
	file     = "../images/qgn_plat_view_button_nesw_pressed.png"
	border   = { 14, 14, 14, 14 }
    }
    image {
        function = BOX
	state    = SELECTED
	detail   = "buttondefault"
	file     = "../images/qgn_plat_view_button_nesw_pressed.png"
	border   = { 14, 14, 14, 14 }
    }
    image {
        function = BOX
	state    = INSENSITIVE
	detail   = "buttondefault"
	file     = "../images/qgn_plat_view_button_nesw_disabled.png"
	border   = { 14, 14, 14, 14 }
    }
    image {
	function = BOX
	detail   = "buttondefault"
	file     = "../images/qgn_plat_view_button_nesw.png"
	border   = { 14, 14, 14, 14 }
    }

    image {
        function = FOCUS
	state    = ACTIVE
	file     = "../images/qgn_plat_view_button_pressed_focused.png"
	border   = { 14, 14, 14, 14 }
    }
    image {
        function = FOCUS
	file     = "../images/qgn_plat_view_button_focused.png"
	border   = { 14, 14, 14, 14 }
    }
    image {
	function = BOX
	shadow   = IN
	file     = "../images/qgn_plat_view_button_pressed.png"
  	border   = { 14, 14, 14, 14 }
    }
    image {
	function = BOX
	state    = SELECTED
	file     = "../images/qgn_plat_view_button_pressed.png"
  	border   = { 14, 14, 14, 14 }
    }
    image {
	function = BOX
	state    = INSENSITIVE
	file     = "../images/qgn_plat_view_button_disabled.png"
  	border   = { 14, 14, 14, 14 }
    }
    image {
	function = BOX
	file     = "../images/qgn_plat_view_button.png"
  	border   = { 14, 14, 14, 14 }
    }
  }
}
class "GtkButton" style "osso-button"

widget_class "*.GtkButton.GtkLabel" style "osso-ButtonFont"
widget_class "*.GtkToggleButton.GtkLabel" style "osso-ButtonFont"

#Style for Dialog buttons
style "osso-dialogbutton" {

  # The spec specifies the padding for the button and label. Button
  # padding is specified in sapwoods. The following are for labels.
  GtkButton::padding  = { 12, 12, 0, 0 }
 
  # Minimum width of the label is 60 pixels, thus the miminum width of
  # the button is 100 pixels. Use value 90 here since additional 10
  # pixels is added automagically somewhere in code
  GtkButton::minimum_width  = 90

  engine "sapwood" {

    #######################
    # Dialog buttons
    #######################

    image {
	function = BOX
	state    = ACTIVE
	position = TOP, BOTTOM
	file     = "../images/qgn_plat_dialog_button_middle_pressed.png"
 	border   = { 20, 20, 0, 0 }
    }
    image {
	function = BOX
	state    = INSENSITIVE
	position = TOP, BOTTOM
	file     = "../images/qgn_plat_dialog_button_middle_disabled.png"
 	border   = { 20, 20, 0, 0 }
    }
    image {
        function = BOX
        state    = SELECTED
	position = TOP, BOTTOM
        file     = "../images/qgn_plat_dialog_button_middle_focused.png"
        border   = { 20, 20, 0, 0 }
    }
    image {
	function = BOX
	position = TOP, BOTTOM
	file     = "../images/qgn_plat_dialog_button_middle_normal.png"
  	border   = { 20, 20, 0, 0 }
    }
    image {
        function = FOCUS
        state    = ACTIVE
	position = TOP, BOTTOM
        file     = "../images/qgn_plat_dialog_button_middle_focused_pressed.png"
        border   = { 20, 20, 0, 0}
    }
    image {
        function = FOCUS
	position = TOP, BOTTOM
        file     = "../images/qgn_plat_dialog_button_middle_focused.png"
        border   = { 20, 20, 0, 0 }
    }
  
    image {
        function = BOX
        state    = ACTIVE
	position = TOP, LEFT, BOTTOM
	file     = "../images/qgn_plat_dialog_button_left_pressed.png"
  	border   = { 20, 20, 0, 0 }
    }
    image {
	function = BOX
	state    = INSENSITIVE
	position = TOP, LEFT, BOTTOM
	file     = "../images/qgn_plat_dialog_button_left_disabled.png"
  	border   = { 20, 20, 0, 0 }
    }
    image {
        function = BOX
        state    = SELECTED
	position = TOP, LEFT, BOTTOM
        file     = "../images/qgn_plat_dialog_button_left_focused.png"
        border   = { 20, 20, 0, 0 }
    }
    image {
	function = BOX
	position = TOP, LEFT, BOTTOM
	file     = "../images/qgn_plat_dialog_button_left_normal.png"
  	border   = { 20, 20, 0, 0 }
    }
    image {
        function = FOCUS
        state    = ACTIVE
	position = TOP, LEFT, BOTTOM
        file     = "../images/qgn_plat_dialog_button_left_focused_pressed.png"
        border   = { 20, 20, 0, 0 }
    }
    image {
        function = FOCUS
	position = TOP, LEFT, BOTTOM
        file     = "../images/qgn_plat_dialog_button_left_focused.png"
        border   = { 20, 20, 0, 0 }
    }


    image {
	function = BOX
	state    = ACTIVE
	position = TOP, RIGHT, BOTTOM
	file     = "../images/qgn_plat_dialog_button_right_pressed.png"
  	border   = { 20, 20, 0, 0 }
    }
    image {
	function = BOX
	state    = INSENSITIVE
	position = TOP, RIGHT, BOTTOM
	file     = "../images/qgn_plat_dialog_button_right_disabled.png"
  	border   = { 20, 20, 0, 0 }
    }
    image {
        function = BOX
        state    = SELECTED
	position = TOP, RIGHT, BOTTOM
        file     = "../images/qgn_plat_dialog_button_right_focused.png"
        border   = { 20, 20, 0, 0 }
    }
    image {
	function = BOX
	position = TOP, RIGHT, BOTTOM
	file     = "../images/qgn_plat_dialog_button_right_normal.png"
  	border   = { 20, 20, 0, 0 }
    }
    image {
        function = FOCUS
        state    = ACTIVE
	position = TOP, RIGHT, BOTTOM
        file     = "../images/qgn_plat_dialog_button_right_focused_pressed.png"
        border   = { 20, 20, 0, 0 }
    }
    image {
        function = FOCUS
	position = TOP, RIGHT, BOTTOM
        file     = "../images/qgn_plat_dialog_button_right_focused.png"
        border   = { 20, 20, 0, 0 }
    }
    
    image {
	function = BOX
	state    = ACTIVE
	position = LEFT, TOP, RIGHT, BOTTOM
	file     = "../images/qgn_plat_dialog_button_alone_pressed.png"
  	border   = { 20, 20, 0, 0 }
    }
    image {
	function = BOX
	state    = INSENSITIVE
	position = LEFT, TOP, RIGHT, BOTTOM
	file     = "../images/qgn_plat_dialog_button_alone_disabled.png"
  	border   = { 20, 20, 0, 0 }
    }
    image {
        function = BOX
        state    = SELECTED
	position = LEFT, TOP, RIGHT, BOTTOM
        file     = "../images/qgn_plat_dialog_button_alone_focused.png"
        border   = { 20, 20, 0, 0 }
    }
    image {
	function = BOX
	position = LEFT, TOP, RIGHT, BOTTOM
	file     = "../images/qgn_plat_dialog_button_alone_normal.png"
  	border   = { 20, 20, 0, 0 }
    }
    image {
        function = FOCUS
        state    = ACTIVE
	position = LEFT, TOP, RIGHT, BOTTOM
        file     = "../images/qgn_plat_dialog_button_alone_focused_pressed.png"
        border   = { 20, 20, 0, 0 }
    }
    image {
        function = FOCUS
	position = LEFT, TOP, RIGHT, BOTTOM
        file     = "../images/qgn_plat_dialog_button_alone_focused.png"
        border   = { 20, 20, 0, 0 }
    }
  }
}
widget_class "*.GtkHButtonBox.GtkButton" style "osso-dialogbutton"
