# Copyright Nokia Corporation 2007
# Licensed under Creative Commons Attribution-ShareAlike 2.5 license 

style "osso-hbuttonbox" {

  GtkHButtonBox::child_min_height = 47
  GtkHButtonBox::child_min_width = 105
  GtkWidget::maemo-position-theming = 1
}
class "GtkHButtonBox" style "osso-hbuttonbox"

style "osso-vbuttonbox" {

  GtkVButtonBox::child_min_height = 47
  GtkVButtonBox::child_min_width = 105
  GtkWidget::maemo-position-theming = 1
}
class "GtkVButtonBox" style "osso-vbuttonbox"
