# Copyright Nokia Corporation 2007
# Licensed under Creative Commons Attribution-ShareAlike 2.5 license 

style "osso-multipage-dialog" {
  xthickness = 12

  GtkDialog::button_spacing = 6
  GtkDialog::content_area_border = 6
  GtkDialog::content_area_spacing = 18
  GtkDialog::action_area_border = 0
}

widget_class "GtkDialog.GtkVBox.GtkNotebook" style "osso-multipage-dialog"

style "osso-dialog" {
  GtkDialog::button_spacing = 6
#  GtkDialog::content_area_border = 10
  GtkDialog::content_area_border = 0
  GtkDialog::action_area_border = 10
}

class "GtkDialog" style "osso-dialog"
