#################################################### 
# GTK ENTRY (Single line editor)
#
# Copyright 2004,2005 Nokia Oyj
#
# The GtkEntry (single line editor) is themed here.
#
#################################################### 

style "osso-entry" {

	GtkEntry::hildonlike = 1
	GtkEntry::horizontal-border = 6
	GtkEntry::vertical-border = 0
	GtkEntry::show-last-char = 1
	
	engine "sapwood" {
		image {
			function = BOX
			state = INSENSITIVE
			file = "../images/qgn_plat_single_line_input_disabled.png"
			border = { 2, 2, 2, 2 }
			stretch = TRUE
		}
	}

	engine "sapwood" {
		image {
			function = BOX
			file = "../images/qgn_plat_single_line_input.png"
			border = { 2, 2, 2, 2 }
			stretch = TRUE
		}
	}
}
class "GtkEntry" style "osso-entry"
