#################################################### 
# GTK ENTRY COMPLETION
#
# Copyright 2006 Nokia Oyj
#
# The GtkEntryCompletion is themed here
#
#################################################### 

style "osso-completion-frame"
{
  xthickness = 6
  ythickness = 6
}

widget "hildon-completion-window.GtkFrame" style "osso-completion-frame"
