#################################################### 
# GTK ENTRY (Single line editor)
#
# Copyright 2004,2005 Nokia Oyj
#
# The GtkEntry (single line editor) is themed here.
#
#################################################### 

style "osso-entry" {

        GtkEntry::inner-border = { 6, 6, 0, 0 }
	
	engine "sapwood" {
		image {
			function = SHADOW
			state = INSENSITIVE
			file = "../images/qgn_plat_single_line_input_disabled.png"
			border = { 2, 2, 2, 2 }
			stretch = TRUE
		}
	}

	engine "sapwood" {
		image {
			function = SHADOW
			file = "../images/qgn_plat_single_line_input.png"
			border = { 2, 2, 2, 2 }
			stretch = TRUE
		}
	}
}
class "GtkEntry" style "osso-entry"
