####################################################  
# GTK FRAME
#
# Copyright 2005 Nokia Oyj
#
# This file has the themeing of frames.
# Normal gtk doesn't have themeable, graphical frames
# so this modification was done to allow it.
#
#################################################### 

style "osso-frame"
{
  GtkFrame::hildonlike = 1
  
  xthickness = 3
  ythickness = 3
  
  engine "sapwood"
    {
      image
        {
	  function = BOX
	  state    = INSENSITIVE
	  file     = "../images/qgn_plat_frame_disabled.png"
	  border   = { 3, 3, 3, 3 }
	  stretch  = TRUE
	}
      image
        {
	  function = BOX
	  file     = "../images/qgn_plat_frame.png"
	  border   = { 3, 3, 3, 3 }
	  stretch  = TRUE
	}
    }
}

class "GtkFrame" style "osso-frame"
