#################################################### 
# GTK FILE CHOOSER BUTTON
#
# Copyright 2006 Nokia Oyj
#
# The GtkFileChooserButton is themed here
#
#################################################### 

style "osso-filechooserbutton" {

    GtkFileChooserButton::hildonlike = 1
}

class "GtkFileChooserButton" style "osso-filechooserbutton"

style "osso-filechooserbutton-button" {

    GtkFileChooserButton::hildonlike = 1

    # file chooser button
    engine "sapwood" {
      image {
          function = FOCUS
          state    = ACTIVE
    	  detail   = "buttondefault"
  	  file = "../images/qgn_plat_single_line_input.png"
  	  border   = { 2, 2, 2, 2 }
  	  stretch  = TRUE
      }
      image {
          function = FOCUS
	  detail   = "buttondefault"
  	  file = "../images/qgn_plat_single_line_input.png"
	  border   = { 2, 2, 2, 2 }
	  stretch  = TRUE
      }
      image {
          function = BOX
	  shadow   = IN
	  detail   = "buttondefault"
	  file = "../images/qgn_plat_single_line_input.png"
	  border   = { 2, 2, 2, 2 }
	  stretch  = TRUE
      }
      image {
          function = BOX
	  state    = SELECTED
	  detail   = "buttondefault"
	  file = "../images/qgn_plat_single_line_input.png"
	  border   = { 2, 2, 2, 2 }
	  stretch  = TRUE
      }
      image {
          function = BOX
	  state    = INSENSITIVE
	  detail   = "buttondefault"
	  file = "../images/qgn_plat_single_line_input.png"
	  border   = { 2, 2, 2, 2 }
	  stretch  = TRUE
      }
      image {
	  function = BOX
	  detail   = "buttondefault"
	  file = "../images/qgn_plat_single_line_input.png"
	  border   = { 2, 2, 2, 2 }
	  stretch  = TRUE
      }
    }
}

widget_class "*.GtkFileChooserButton.GtkButton" style "osso-filechooserbutton-button"
