# Copyright Nokia Corporation 2007
# Licensed under Creative Commons Attribution-ShareAlike 2.5 license 

style "osso-progressbar" = "osso-logical-colors"
{
  xthickness = 2
  ythickness = 3
  
  GtkProgressBar::xspacing = 5
  GtkProgressBar::yspacing = 5

  fg[NORMAL] = @ProgressTextColor1
  fg[PRELIGHT] = @ProgressTextColor2
  
  engine "sapwood"
  {
    image
      {
	function = BOX
	detail = "bar"
	file = "../images/qgn_plat_progress_bar_gradient.png"
	border = { 0, 0, 11, 12 }
      }
    image 
      {	
	function = BOX
	detail = "trough"
	file = "../images/qgn_plat_progress_bar_border.png"
	border = { 4, 4, 12, 15 }

	# If orientation is set to HORIZONTAL, then the box will not be
	# drawn if HEIGHT > WIDTH
	# If orientation is set to VERTICAL, then the box will not be
	# dranw if HEIGHT < WIDTH
	# Hence: do not set orientation to anything :-)
	# Fixes bug #447 and #413
      }
  }
}

class "GtkProgressBar" style "osso-progressbar"
