# Copyright Nokia Corporation 2007
# Licensed under Creative Commons Attribution-ShareAlike 2.5 license

include "base.rc"

include "themespecificgtk.rc"
include "afterthemespecificgtk.rc"

include "defaultarrows.rc"

include "gtkbutton.rc"
include "gtkbuttonbox.rc"
include "gtkcheckbutton.rc"
include "gtkcheckmenuitem.rc"
include "gtkcombobox.rc"
include "gtkdialog.rc"
include "gtkentry.rc"
include "gtkframe.rc"
include "gtkmenu.rc"
include "gtkmenuitem.rc"
include "gtknotebook.rc"
include "gtkpaned.rc"
include "gtkprogressbar.rc"
include "gtkradiobutton.rc"
include "gtkrange.rc"
include "gtkscrollbar.rc"
include "gtkscrolledwindow.rc"
include "gtkseparator.rc"
include "gtksettings.rc"
include "gtktextview.rc"
include "gtktoolbar.rc"
include "gtktoolbutton.rc"
include "gtktoggletoolbutton.rc"
include "gtktreeview.rc"
include "gtkmenutoolbutton.rc"
include "gtkfilechooserbutton.rc"
include "gtkexpander.rc"
include "gtkentrycompletion.rc"
include "gtkviewport.rc"

include "hildonapp.rc"
include "hildonbanners.rc"
include "hildoncandidatebox.rc"
include "hildoncaption.rc"
include "hildoncolorchooser.rc"
include "hildoncontrolbar.rc"
include "hildongrid.rc"
include "hildonkeyboard.rc"
include "hildonnote.rc"
include "hildonnumbereditor.rc"
include "hildonseekbar.rc"
include "hildontimeeditor.rc"
include "hildonvolumebar.rc"
include "hildonweekdaypicker.rc"
include "hildonbreadcrumbbutton.rc"
include "hildondateeditor.rc"
include "hildonthumbscrollbar.rc"
include "hildoncalendar.rc"
include "hildonbreadcrumbtrail.rc"

include "ossoclock.rc"
include "ossortc.rc"
include "ossoglobalsearch.rc"
include "ossoapplicationinstaller.rc"
include "ossomediaplayer.rc"

include "hildontimepicker.rc"

include "afterincludes.rc"
