#
# Adding all non-maemo_af_desktop widgets into maemo_af_desktop 
include "base.rc"

# Adding maemo_af_desktop specific widgets 
include "hildonhome.rc"
include "hildonnavigator.rc"
include "hildonnavigatorpopuplist.rc"
include "hildonstatusbar.rc"

##################
# THESE HAVE MISSING IMAGES BUT ARE HERE BECAUSE OF STYLE PROPERTIES
##################

# Home applets
include "ossoclock.rc"
include "ossoiradioapplet.rc"
include "ossorssfeedreader.rc"
include "ossospeeddial.rc"
include "ossointernetsearchapplet.rc"
include "hildonwebshortcut.rc"
