#################################################### 
# GTK SEPARATOR
#
# Copyright 2005 Nokia Oyj
#
# This file themes separators.
#
####################################################

style "osso-separator"
{
  ythickness = 3
  xthickness = 3
  
  engine "sapwood"
    {
      image
        {
	  function    = BOX
	  detail      = "hseparator"
	  file        = "../images/qgn_plat_separator_horizontal.png"
	  border      = { 12, 12, 0, 0 }
	}
      image
        {
	  function    = BOX
	  detail      = "vseparator"
	  file        = "../images/qgn_plat_separator_vertical.png"
	  border      = { 0, 0, 12, 12 }
	}
    }
}

class "GtkSeparator" style "osso-separator"
