#
# GTK-SETTINGS
#

# Default backend to use
gtk-file-chooser-backend = "gnome-vfs"

# Are we using toolbar animation
gtk-toolbar-animation = 0
gtk-toolbar-style = GTK_TOOLBAR_ICONS

# Keyboard navigation
hildon-keyboard-navigation = 1

# Menu interaction
gtk-menu-shell-timeout = -1

# Drag and drop treshold
gtk-dnd-drag-threshold = 30

# Touchscreen mode (GtkMenu scrolling, prelighting)
gtk-touchscreen-mode = 1

# Show last char in hidden entries for 600 ms
gtk-entry-last-char-timeout = 600

# Update
gtk-timeout-repeat = 150

# Disable wrap-around in menus, notebooks and radio groups
gtk-keynav-cursor-only = 0
