
#################################################### 
# GTK TOOL BUTTON
# 
# Make sure the button appears "pushed" when the
# button is active, but we are in PRELIGHT state.
#################################################### 

# default style:
style "osso-toolbutton" {

   GtkButton::child_displacement_x = -2
   GtkButton::child_displacement_y = 2
   GtkButton::minimum_width = 48
#   GtkButton::minimum_height = 40

   engine "sapwood" {

      image
      {
          function          = FOCUS
      }
      image
      {
          function          = BOX
	      state             = ACTIVE
          file              = "../images/qgn_plat_toolbar_button_pressed.png"
	      border            = { 23, 23, 0, 0 }	
          stretch           = TRUE
      }
      image
      {
          function          = BOX
     	  state             = PRELIGHT
	      shadow            = OUT
          file              = "../images/qgn_plat_toolbar_button_normal.png"
          border            = { 23, 23, 0, 0 }	
          stretch           = TRUE
      }
      image
      {
          function          = BOX
    	  state             = PRELIGHT
    	  shadow            = IN
          file              = "../images/qgn_plat_toolbar_button_pressed.png"
    	  border            = { 23, 23, 0, 0 }	
          stretch           = TRUE
      }
      image
      {
          function          = BOX
    	  state             = INSENSITIVE
          file              = "../images/qgn_plat_toolbar_button_disabled.png"
    	  border            = { 23, 23, 0, 0 }	
          stretch           = TRUE
      }
      image
      {
          function          = BOX
          file              = "../images/qgn_plat_toolbar_button_normal.png"		             
	      border            = { 23, 23, 0, 0 }	
          stretch           = TRUE
      }
   }
}

widget_class "*.GtkToolButton.GtkButton" style "osso-toolbutton"
widget_class "*.GtkToggleToolButton.GtkToggleButton" style "osso-toolbutton"
widget_class "*.GtkMenuToolButton.GtkHBox.GtkButton" style "osso-toolbutton"
widget_class "*.GtkMenuToolButton.GtkHBox.GtkToggleButton" style "osso-toolbutton"
widget_class "*.GtkRadioToolButton.GtkRadioButton" style "osso-toolbutton"


# The below two lines are mainly for Sketch application.
# Especially the togglebutton thins is pretty interesting

widget_class "*.GtkToolItem.HildonColorButton" style "osso-toolbutton"
widget_class "*.GtkToolbar.GtkToggleButton" style "osso-toolbutton"
