####################################################
# Theming for GtkViewPort
####################################################

# Disable the shadow painting completely

style "osso-viewport" {
  xthickness = 0
  ythickness = 0

  engine "sapwood" {
    image {
      function = SHADOW
    }
  }
}

class "GtkViewport" style "osso-viewport"
