
##############################################
# Task Navigator Tooltip
##############################################
style "osso-task-navigator-tooltip"
{
    engine "sapwood"
    {
        image
        {
            function = FLAT_BOX
            state = NORMAL
            file = "../images/qgn_plat_tool_tip.png"
	    border = { 20, 20, 20, 20 }
        }
    }
}

widget "hildon-task-navigator-tooltip" style "osso-task-navigator-tooltip"

#####################################
#Temporar theming to the navigator
#(Just to make it look nice)
#####################################
style "osso-navigator-button-one"
{
   GtkButton::child_displacement_x = 0
   GtkButton::child_displacement_y = 0
   bg_pixmap[ACTIVE] = "../images/qgn_plat_task_navigation_button_01_pressed.png"
   bg_pixmap[PRELIGHT] = "../images/qgn_plat_task_navigation_button_01_focused.png"

	engine "sapwood" {
		image {
			function = BOX
			state = NORMAL
		}
		image {
			function = BOX
			state = PRELIGHT
		}
		image {
			function = BOX
			state = INSENSITIVE
		}
		image {
			function = BOX
			state = ACTIVE
		}
		image {
			function = BOX
			state = SELECTED
		}
		image {
		        function = FOCUS
                }
	}
}
widget "*.hildon-navigator-button-one" style "osso-navigator-button-one"

style "osso-navigator-button-two"
{
   GtkButton::child_displacement_x = 0
   GtkButton::child_displacement_y = 0
   bg_pixmap[ACTIVE] = "../images/qgn_plat_task_navigation_button_02_pressed.png"
   bg_pixmap[PRELIGHT] = "../images/qgn_plat_task_navigation_button_02_focused.png"

	engine "sapwood" {
		image {
			function = BOX
			state = NORMAL
		}
		image {
			function = BOX
			state = PRELIGHT
		}
		image {
			function = BOX
			state = INSENSITIVE
		}
		image {
			function = BOX
			state = ACTIVE
		}
		image {
			function = BOX
			state = SELECTED
		}
		image {
		        function = FOCUS
                }
	}
}
widget "*.hildon-navigator-button-two" style "osso-navigator-button-two"

style "osso-navigator-button-three"
{
   GtkButton::child_displacement_x = 0
   GtkButton::child_displacement_y = 0
   bg_pixmap[ACTIVE] = "../images/qgn_plat_task_navigation_button_03_pressed.png"
   bg_pixmap[PRELIGHT] = "../images/qgn_plat_task_navigation_button_03_focused.png"

	engine "sapwood" {
		image {
			function = BOX
			state = NORMAL
		}
		image {
			function = BOX
			state = PRELIGHT
		}
		image {
			function = BOX
			state = INSENSITIVE
		}
		image {
			function = BOX
			state = ACTIVE
		}
		image {
			function = BOX
			state = SELECTED
		}
		image {
		        function = FOCUS
                }
	}
}
widget "*.hildon-navigator-button-three" style "osso-navigator-button-three"

style "osso-navigator-small-button1"
{
   GtkButton::child_displacement_x = 0
   GtkButton::child_displacement_y = 0
   bg_pixmap[ACTIVE] = "../images/qgn_plat_task_navigation_application_switcher_01_pressed.png"
   bg_pixmap[PRELIGHT] = "../images/qgn_plat_task_navigation_application_switcher_01_focused.png"

	engine "sapwood" {
		image {
			function = BOX
		}
		image {
			function = FOCUS
		}
	}
}

widget "*.hildon-navigator-small-button1" style "osso-navigator-small-button1"

style "osso-navigator-small-button2"
{
   GtkButton::child_displacement_x = 0
   GtkButton::child_displacement_y = 0
   bg_pixmap[ACTIVE] = "../images/qgn_plat_task_navigation_application_switcher_02_pressed.png"
   bg_pixmap[PRELIGHT] = "../images/qgn_plat_task_navigation_application_switcher_02_focused.png"

	engine "sapwood" {
		image {
			function = BOX
		}
		image {
			function = FOCUS
		}
	}
}

widget "*.hildon-navigator-small-button2" style "osso-navigator-small-button2"

style "osso-navigator-small-button3"
{
   GtkButton::child_displacement_x = 0
   GtkButton::child_displacement_y = 0
   bg_pixmap[ACTIVE] = "../images/qgn_plat_task_navigation_application_switcher_03_pressed.png"
   bg_pixmap[PRELIGHT] = "../images/qgn_plat_task_navigation_application_switcher_03_focused.png"

	engine "sapwood" {
		image {
			function = BOX
		}
		image {
			function = FOCUS
		}
	}
}

widget "*.hildon-navigator-small-button3" style "osso-navigator-small-button3"

style "osso-navigator-small-button4"
{
   GtkButton::child_displacement_x = 0
   GtkButton::child_displacement_y = 0
   bg_pixmap[ACTIVE] = "../images/qgn_plat_task_navigation_application_switcher_04_pressed.png"
   bg_pixmap[PRELIGHT] = "../images/qgn_plat_task_navigation_application_switcher_04_focused.png"

	engine "sapwood" {
		image {
			function = BOX
		}
		image {
			function = FOCUS
		}
	}
}

widget "*.hildon-navigator-small-button4" style "osso-navigator-small-button4"

style "osso-navigator-small-button1-pressed"
{
   GtkButton::child_displacement_x = 0
   GtkButton::child_displacement_y = 0
   bg_pixmap[ACTIVE] = "../images/qgn_plat_task_navigation_application_switcher_01_pressed.png"
   bg_pixmap[PRELIGHT] = "../images/qgn_plat_task_navigation_application_switcher_01_focused.png"

	engine "sapwood" {
		image {
			function = BOX
		}
		image {
			function = FOCUS
                        state = ACTIVE
		}
	}
}

widget "*.hildon-navigator-small-button1-pressed" style "osso-navigator-small-button1-pressed"

style "osso-navigator-small-button2-pressed"
{
   GtkButton::child_displacement_x = 0
   GtkButton::child_displacement_y = 0
   bg_pixmap[ACTIVE] = "../images/qgn_plat_task_navigation_application_switcher_02_pressed.png"
   bg_pixmap[PRELIGHT] = "../images/qgn_plat_task_navigation_application_switcher_02_focused.png"

	engine "sapwood" {
		image {
			function = BOX
		}
		image {
			function = FOCUS
                        state = ACTIVE
		}
	}
}

widget "*.hildon-navigator-small-button2-pressed" style "osso-navigator-small-button2-pressed"

style "osso-navigator-small-button3-pressed"
{
   GtkButton::child_displacement_x = 0
   GtkButton::child_displacement_y = 0
   bg_pixmap[ACTIVE] = "../images/qgn_plat_task_navigation_application_switcher_03_pressed.png"
   bg_pixmap[PRELIGHT] = "../images/qgn_plat_task_navigation_application_switcher_03_focused.png"

	engine "sapwood" {
		image {
			function = BOX
		}
		image {
			function = FOCUS
                        state = ACTIVE
		}
	}
}

widget "*.hildon-navigator-small-button3-pressed" style "osso-navigator-small-button3-pressed"

style "osso-navigator-small-button4-pressed"
{
   GtkButton::child_displacement_x = 0
   GtkButton::child_displacement_y = 0
   bg_pixmap[ACTIVE] = "../images/qgn_plat_task_navigation_application_switcher_04_pressed.png"
   bg_pixmap[PRELIGHT] = "../images/qgn_plat_task_navigation_application_switcher_04_focused.png"

	engine "sapwood" {
		image {
			function = BOX
		}
		image {
			function = FOCUS
                        state = ACTIVE
		}
	}
}

widget "*.hildon-navigator-small-button4-pressed" style "osso-navigator-small-button4-pressed"
