# Copyright Nokia Corporation 2007
# Licensed under Creative Commons Attribution-ShareAlike 2.5 license

##############################
# Keyboard
##############################

#input method window top and left frame
style "osso-input-method-frame"
{
  engine "sapwood" {
    image {
      function = BOX
	state = NORMAL
	detail = "osso-im-frame-top"
	file = "../images/qgn_plat_inputmet_buffer_zone_top.png"
    }
    image {
      function = BOX
	state = NORMAL
	detail = "osso-im-frame-left"
	file = "../images/qgn_plat_inputmet_buffer_zone_left.png"
	border = {0, 0, 25, 0}
    }
  }
}
class "HildonIMUI" style "osso-input-method-frame"

#close buttons
style "osso-input-method-side-close-button"
{
    engine "sapwood"
    {
        image
        {
            function = BOX
	    state = NORMAL
            file = "../images/qgn_plat_inputmet_button_side_close_normal.png"
            border = { 4, 4, 0, 0 }
        }
	image
        {
            function = BOX
	    state = PRELIGHT
            file = "../images/qgn_plat_inputmet_button_side_close_normal.png"
            border = { 4, 4, 0, 0 }
        }

	image
        {
            function = BOX
	    state = ACTIVE 
            file = "../images/qgn_plat_inputmet_button_side_close_pressed.png"
            border = { 4, 4, 0, 0 }
        }
    }
}
widget "*.OssoIMSideCloseButton" style "osso-input-method-side-close-button"



#common control buttons
style "osso-input-method-side-button" = "osso-logical-colors"
{
    fg[NORMAL] = @VKBButtonTextColor
    fg[ACTIVE] = @VKBButtonTextColor
    fg[PRELIGHT] = @VKBButtonTextColor

    engine "sapwood"
    {
        image
        {
            function = BOX
	    state = NORMAL
            file = "../images/qgn_plat_inputmet_button_side_normal.png"
            border = { 4, 4, 0, 0 }
        }
	image
        {
            function = BOX
	    state = PRELIGHT
	    shadow = IN
            file = "../images/qgn_plat_inputmet_button_side_pressed.png"
            border = { 4, 4, 0, 0 }
        }
	image
        {
            function = BOX
	    state = PRELIGHT
	    shadow = OUT
            file = "../images/qgn_plat_inputmet_button_side_normal.png"
            border = { 4, 4, 0, 0 }
        }
        image
        {
            function = BOX
            state = ACTIVE
            file = "../images/qgn_plat_inputmet_button_side_pressed.png"
            border = { 4, 4, 0, 0 }
        }
        image
        {
            function = BOX
            state = SELECTED
            file = "../images/qgn_plat_inputmet_button_side_pressed.png"
            border = { 4, 4, 0, 0 }
        }
        image
        {
            function = BOX
	    state = INSENSITIVE
            file = "../images/qgn_plat_inputmet_button_side_disabled.png"
            border = { 4, 4, 0, 0 }
        }
    }
}
widget "*.OssoIMSideButton" style "osso-input-method-side-button"
widget "*.OssoIMSideButton.GtkLabel" style "osso-input-method-side-button"

#common control toggle buttons
style "osso-input-method-side-toggle-button" = "osso-logical-colors"
{
    fg[NORMAL] = @VKBButtonTextColor
    fg[ACTIVE] = @VKBButtonTextColor
    fg[PRELIGHT] = @VKBButtonTextColor

    engine "sapwood"
    {
        image
        {
            function = BOX
	    shadow = IN
            file = "../images/qgn_plat_inputmet_button_side_latched.png"
            border = { 4, 4, 0, 0 }
        }
        image
        {
            function = BOX
            state = SELECTED
            file = "../images/qgn_plat_inputmet_button_side_latched.png"
            border = { 4, 4, 0, 0 }
	}
        image
        {
            function = BOX
	    state = INSENSITIVE
            file = "../images/qgn_plat_inputmet_button_side_disabled.png"
            border = { 4, 4, 0, 0 }
        }
        image
        {
            function = BOX
            file = "../images/qgn_plat_inputmet_button_side_normal.png"
            border = { 4, 4, 0, 0 }
        }
    }
}
widget "*.OssoIMSideToggleButton" style "osso-input-method-side-toggle-button"
widget "*.OssoIMSideToggleButton.GtkLabel" style "osso-input-method-side-toggle-button"

#ordinary keys in vkb and special character view
style "osso-input-method-vkb-key" = "osso-logical-colors"
{
    fg[NORMAL] = @VKBButtonTextColor

    GtkButton::child_spacing = 0
    engine "sapwood"
    {
        image
        {
            function = BOX
	    state = NORMAL
            file = "../images/qgn_plat_inputmet_button_key_normal.png"
            border = { 5, 5, 5, 5 }
        }
        image
        {
            function = BOX
            state = PRELIGHT
            file = "../images/qgn_plat_inputmet_button_key_normal.png"
            border = { 5, 5, 5, 5 }
        }
        image
        {
            function = BOX
            state = INSENSITIVE
            file = "../images/qgn_plat_inputmet_button_key_disabled.png"
            border = { 5, 5, 5, 5 }
        }
        image
        {
            function = BOX
            state = ACTIVE
            file = "../images/qgn_plat_inputmet_button_key_pressed.png"
            border = { 5, 5, 5, 5 }
        }
    }
}

style "osso-input-method-space-key" = "osso-logical-colors"
{
    fg[NORMAL] = @VKBButtonTextColor

    GtkButton::child_spacing = 0
    engine "sapwood" 
    {
        image
        {
            function = BOX
            state = NORMAL
            file = "../images/qgn_plat_inputmet_button_key_space_normal.png"
            border = { 6, 97, 0, 0 }
        }
        image
        {
            function = BOX
            state = PRELIGHT
            file = "../images/qgn_plat_inputmet_button_key_space_normal.png"
            border = { 6, 97, 0, 0 }
        }
        image
        {
            function = BOX
            state = INSENSITIVE
            file = "../images/qgn_plat_inputmet_button_key_space_disabled.png"
            border = { 6, 97, 0, 0 }
        }
        image
        {
            function = BOX
            state = ACTIVE
            file = "../images/qgn_plat_inputmet_button_key_space_pressed.png"
            border = { 6, 97, 0, 0 }
        }
    }
}


widget "*.osso-im-alpha" style "osso-input-method-vkb-key"
widget "*.osso-im-numeric" style "osso-input-method-vkb-key"
widget "*.osso-im-special" style "osso-input-method-vkb-key"
widget "*.osso-im-space" style "osso-input-method-space-key"
widget "*.osso-im-key" style "osso-input-method-vkb-key"
widget "*.osso-im-tele" style "osso-input-method-vkb-key"
widget "*.osso-im-dim" style "osso-input-method-vkb-key"
			  
#accent dead keys in vkb
style "osso-input-method-accent-key" = "osso-logical-colors"
{
    fg[NORMAL] = @VKBButtonTextColor

    engine "sapwood"
    {
        image
        {
            function = BOX
	    state = NORMAL
            file = "../images/qgn_plat_inputmet_button_key_accent_normal.png"
            border = { 5, 5, 5, 5 }
        }
        image
        {
            function = BOX
            state = PRELIGHT
            file = "../images/qgn_plat_inputmet_button_key_accent_normal.png"
	    border = { 5, 5, 5, 5 }
        }
        image
        {
            function = BOX
            state = ACTIVE
            file = "../images/qgn_plat_inputmet_button_key_pressed.png"
	    border = { 5, 5, 5, 5 }
        }
        image
        {
            function = BOX
            state = SELECTED
            file = "../images/qgn_plat_inputmet_button_key_pressed.png"
            border = { 5, 5, 5, 5 }
	}
        image
        {
            function = BOX
	    state = INSENSITIVE
            file = "../images/qgn_plat_inputmet_button_side_disabled.png"
            border = { 4, 4, 0, 0 }
        }

    }
}
widget "*.osso-im-accent" style "osso-input-method-accent-key"

#special character view tabs
style "osso-input-special-character-view-tabs"
{
  GtkNotebook::inner_left_border = 0
  GtkNotebook::inner_right_border = 0
  GtkNotebook::tab-overlap = 0
  GtkNotebook::arrow-spacing = 16
  GtkNotebook::label-padding = 12
  GtkWidget::scroll-arrow-hlength = 20
  GtkWidget::scroll-arrow-vlength = 30

  # Themings for images on different sides of the notebook.
  engine "sapwood"
  {
    # Top theming.
    image 
      {
        function = EXTENSION
	state    = ACTIVE
	file     = "../images/qgn_plat_inputmet_tab_special_character_normal.png"
	border   = { 5, 5, 0, 0 }
	gap_side = BOTTOM
      }
    image
      {
        function = EXTENSION
	file     = "../images/qgn_plat_inputmet_tab_special_character_selected.png"
	border   = { 5, 5, 0, 0 }
	gap_side = BOTTOM
      }
    # Content area theming when arrows are not present.
    image
      {
        function = BOX_GAP
	detail   = "notebook" 
      }
    # Content area theming when arrows are present.
    image
      {
        function = BOX_GAP
	detail   = "notebook_show_arrow"
      }
      
    # Arrows left
    image
      {
        function        = ARROW
        state           = INSENSITIVE
	arrow_direction = LEFT
	overlay_file    = "../images/qgn_plat_notebook_button_previous_disabled.png"
      }
    image
      {
        function        = ARROW
        shadow          = IN
	arrow_direction = LEFT
	overlay_file    = "../images/qgn_plat_notebook_button_previous_pressed.png"
      }
    image
      {
        function        = ARROW
        shadow          = OUT
	arrow_direction = LEFT
	overlay_file    = "../images/qgn_plat_notebook_button_previous.png"
      }
    
    # Arrows right
    image
      {
        function        = ARROW
        state           = INSENSITIVE
	arrow_direction = RIGHT
	overlay_file    = "../images/qgn_plat_notebook_button_next_disabled.png"
      }
    image
      {
        function        = ARROW
        shadow          = IN
	arrow_direction = RIGHT
	overlay_file    = "../images/qgn_plat_notebook_button_next_pressed.png"
      }
    image
      {
        function        = ARROW
        shadow          = OUT
	arrow_direction = RIGHT
	overlay_file    = "../images/qgn_plat_notebook_button_next.png"
      }
  }
}
widget "*.osso-im-scv-tab" style "osso-input-special-character-view-tabs"

#hwr area logical colors

#hwr area mixmode background color
style "osso-input-method-hwr-area-mixmode-background" = "osso-logical-colors"
{
  bg[NORMAL] = @HWRAlphaBackgrdColor
}
widget "*.hildonhwrarea_mix" style "osso-input-method-hwr-area-mixmode-background"

#hwr area punctuationmode background color
style "osso-input-method-hwr-area-puncmode-background" = "osso-logical-colors"
{
  bg[NORMAL] = @HWRPunctBackgrdColor 
}
widget "*.hildonhwrarea_pun" style "osso-input-method-hwr-area-puncmode-background"

#hwr frame image
style "osso-input-method-hwr-frame"
{
    engine "sapwood"
    {
        image
        {
            function = BOX
            file = "../images/qgn_plat_inputmet_pane_border.png"
            border = { 2, 2, 2, 2 }
        }
    }
}
widget "*.OssoIMHWRFrame" style "osso-input-method-hwr-frame"

#word completion maximum length
style "osso-input-method-word-completion"
{
  # 408/491 pixels in normal/fullscreen. 105 pixels for space bar
  HildonWordCompletion::max-width = 303
  HildonWordCompletion::max-width-fs = 386
}
class "HildonWordCompletion" style "osso-input-method-word-completion"

#word completion prefix button 
style "osso-input-method-word-completion-prefix-button"
{
  engine "sapwood"
    {
      image
	{
	  function = BOX
	    state = NORMAL
	    file = "../images/qgn_plat_inputmet_button_keyboard_word_compl_prefix_normal.png"
	    border = { 5, 5, 0, 0 }
	}
      image
	{
	  function = BOX
	    state = PRELIGHT
	    file = "../images/qgn_plat_inputmet_button_keyboard_word_compl_prefix_normal.png"
	    border = { 5, 5, 0, 0 }
	}
      image
	{
	  function = BOX
	    state = ACTIVE
	    file = "../images/qgn_plat_inputmet_button_keyboard_word_compl_pressed.png"
	    border = { 5, 5, 0, 0 }
	}
    }
}
widget "*.hildon-wc-prefix-button" style "osso-input-method-word-completion-prefix-button"

#word completion candidate buttons
style "osso-input-method-word-completion-candidates"
{
    engine "sapwood"
    {
        image
        {
            function = BOX
	    state = NORMAL
            file = "../images/qgn_plat_inputmet_button_keyboard_word_compl_normal.png"
            border = { 5, 5, 0, 0 }
        }
        image
        {
            function = BOX
	    state = PRELIGHT
            file = "../images/qgn_plat_inputmet_button_keyboard_word_compl_normal.png"
            border = { 5, 5, 0, 0 }
        }
        image
        {
            function = BOX
            state = ACTIVE
            file = "../images/qgn_plat_inputmet_button_keyboard_word_compl_pressed.png"
            border = { 5, 5, 0, 0 }
        }
    }
}
widget "*.hildon-wc-candidate-button" style "osso-input-method-word-completion-candidates"

#finger keyboard
widget "*.osso-im-fkb-renderer" style "osso-LargeFont"

style "osso-input-method-fkb-backspace" {
  engine "sapwood" {
    image {
        function = BOX
        state    = ACTIVE
	detail   = "buttondefault"
	file     = "../images/qgn_plat_inputmet_thumb_button_backspace_pressed.png"
        border   = { 20, 20, 0, 0 }
    }
    image {
	function = BOX
	detail   = "buttondefault"
	file     = "../images/qgn_plat_inputmet_thumb_button_backspace_normal.png"
	border   = { 20, 20, 0, 0 }
    }
  }
}
widget "*.osso-im-fkb-backspace" style "osso-input-method-fkb-backspace"

#finger keyboard "tabs"
style "osso-input-method-fkb-tab" {
  engine "sapwood" {
    image {
        function = BOX
        shadow   = IN
        file     = "../images/qgn_plat_inputmet_thumb_tab_selected.png"
        border   = { 20, 20, 0, 0 }
    }
    image {
        function = BOX
        file     = "../images/qgn_plat_inputmet_thumb_tab_normal.png"
        border   = { 20, 20, 0, 0 }
    }
  }
}
widget "*.osso-im-fkb-tab" style "osso-input-method-fkb-tab"

style "osso-input-method-fkb-tab-label" = "osso-logical-colors" {
  font_name = "Nokia Sans 24"
  fg[NORMAL] = @VKBButtonTextColor
}
widget "*.osso-im-fkb-tab.*" style "osso-input-method-fkb-tab-label"

#finger keyboard common buttons
style "osso-input-method-fkb-common-button" {
  engine "sapwood" {
    image {
        function = BOX
        state    = ACTIVE
	detail   = "buttondefault"
	file     = "../images/qgn_plat_inputmet_thumb_button_common_pressed.png"
        border   = { 20, 20, 0, 0 }
    }
    image {
	function = BOX
	detail   = "buttondefault"
	file     = "../images/qgn_plat_inputmet_thumb_button_commom_normal.png"
	border   = { 20, 20, 0, 0 }
    }
  }
}
widget "*.osso-im-fkb-common-button" style "osso-input-method-fkb-common-button"

#finger keyboard input keys
style "osso-input-method-fkb-key" = "osso-logical-colors"
{
    fg[NORMAL] = @VKBButtonTextColor

    GtkButton::child_spacing = 0
    engine "sapwood"
    {
        image
        {
            function = BOX
	    state = NORMAL
            file = "../images/qgn_plat_inputmet_thumb_button_key_normal.png"
            border = { 20, 20, 0, 0 }
        }
        image
        {
            function = BOX
            state = INSENSITIVE
            file = "../images/qgn_plat_inputmet_thumb_button_key_disabled.png"
            border = { 20, 20, 0, 0 }
        }
        image
        {
            function = BOX
            state = ACTIVE
            file = "../images/qgn_plat_inputmet_thumb_button_key_pressed.png"
            border = { 20, 20, 0, 0 }
        }
    }
}
widget "*osso-im-fkb-key" style "osso-input-method-fkb-key"

#punctuation key in fkb
style "osso-input-method-fkb-slide-key" {
    GtkButton::child_spacing = 0
    engine "sapwood"
    {
        image
        {
            function = BOX
	    state = NORMAL
            file = "../images/qgn_plat_inputmet_thumb_button_extra_normal.png"
            border = { 20, 20, 0, 0 }
        }
        image
        {
            function = BOX
	    state = ACTIVE
            file = "../images/qgn_plat_inputmet_thumb_button_extra_pressed.png"
            border = { 20, 20, 0, 0 }
        }
        image
        {
            function = BOX
            state = INSENSITIVE
            file = "../images/qgn_plat_inputmet_thumb_button_extra_disabled.png"
            border = { 20, 20, 0, 0 }
        }
    }
}
widget "*osso-im-fkb-slide-key" style "osso-input-method-fkb-slide-key"

#space key in fkb
style "osso-input-method-fkb-whitespace-key" {
    GtkButton::child_spacing = 0
    engine "sapwood"
    {
        image
        {
            function = BOX
	    state = NORMAL
            file = "../images/qgn_plat_inputmet_thumb_button_key_space_normal.png"
            border = { 20, 20, 0, 0 }
        }
        image
        {
            function = BOX
            state = ACTIVE
            file = "../images/qgn_plat_inputmet_thumb_button_key_space_pressed.png"
            border = { 20, 20, 0, 0 }
        }
        image
        {
            function = BOX
            state = INSENSITIVE
            file = "../images/qgn_plat_inputmet_thumb_button_key_space_disabled.png"
            border = { 20, 20, 0, 0 }
        }
    }
}
widget "*osso-im-fkb-whitespace-key" style "osso-input-method-fkb-whitespace-key"

#accent dead keys in fkb
style "osso-input-method-fkb-accent-key" = "osso-logical-colors"
{
    fg[NORMAL] = @VKBButtonTextColor

    engine "sapwood"
    {
        image
        {
            function = BOX
	    state = NORMAL
            file = "../images/qgn_plat_inputmet_thumb_button_key_accent_normal.png"
            border = { 20, 20, 0, 0 }
        }
        image
        {
            function = BOX
            state = ACTIVE
            file = "../images/qgn_plat_inputmet_thumb_button_key_latched.png"
            border = { 20, 20, 0, 0 }
        }
        image
        {
            function = BOX
            state = SELECTED
            file = "../images/qgn_plat_inputmet_thumb_button_key_latched.png"
            border = { 20, 20, 0, 0 }
	}
        image
        {
            function = BOX
            state = INSENSITIVE
            file = "../images/qgn_plat_inputmet_thumb_button_key_disabled.png"
            border = { 20, 20, 0, 0 }
        }
    }
}
widget "*osso-im-fkb-accent-key" style "osso-input-method-fkb-accent-key"

style "hildon-input-method-wc-frame" = "osso-logical-colors"
{
    bg[NORMAL] = @WCFrameColor

    engine "sapwood"
    {
        image 
        { 
          function = FLAT_BOX
          detail = "eventbox" 
          file = "../images/qgn_plat_inputmet_special_key_background.png" 
          border = { 10, 10, 0, 0 } 
        }
    }
}
widget "*.hildon-input-method-wc-frame" style "hildon-input-method-wc-frame"

style "hildon-input-method-wc-indicator" = "osso-logical-colors"
{
    font_name = "Nokia Sans 24"
    fg[NORMAL] = @WCIndicatorColor
}
widget "*.hildon-input-method-wc-indicator" style "hildon-input-method-wc-indicator"

style "hildon-input-method-wc-finger-candidates"
{
    engine "sapwood"
    {
        image
        {
            function = BOX
            state = NORMAL
            file = "../images/qgn_plat_inputmet_button_key_special_normal.png"
            border = { 10, 10, 0, 0 }
        }
        image
        {
            function = BOX
            state = PRELIGHT
            file = "../images/qgn_plat_inputmet_button_key_special_normal.png"
            border = { 10, 10, 0, 0 }
        }
        image
        {
            function = BOX
            state = ACTIVE
            file = "../images/qgn_plat_inputmet_button_key_special_pressed.png"
            border = { 10, 10, 0, 0 }
        }
    }
}
widget "*hildon-input-method-finger-wc.hildon-wc-candidate-button" style "hildon-input-method-wc-finger-candidates"

style "hildon-input-method-wc-finger-candidate-label"
{
    font_name = "Nokia Sans 24"
}
widget "*hildon-input-method-finger-wc.hildon-wc-candidate-button.GtkLabel" style "hildon-input-method-wc-finger-candidate-label"
