# Copyright Nokia Corporation 2007
# Licensed under Creative Commons Attribution-ShareAlike 2.5 license

style "osso-date-editor-button"
{
  GtkButton::default_border = { 0, 0, 0, 0 }
  GtkButton::default_outside_border = { 0, 0, 0, 0 }
  GtkButton::child-displacement-y = 0
  GtkButton::child-displacement-x = 0
  GtkWidget::focus-width = 0
  GtkButton::interior_focus = 0
  GtkWidget::focus-padding = 0
  GtkWidget::focus-line-width = 0
  GtkButton::child_spacing = 0
  xthickness = 0
  ythickness = 0

  engine "sapwood"
    {
      image
        {
	  function = BOX
	}
    }
}

widget_class "*.HildonDateEditor.GtkButton" style "osso-date-editor-button"

style "osso-date-editor-frame"
{
  ythickness = 1
  xthickness = 1

  engine "sapwood"
    {
      image
        {
          function = SHADOW
          state = INSENSITIVE
          file = "../images/qgn_plat_single_line_input_disabled.png"
          border = { 2, 2, 2, 2 }
        }
    }

  engine "sapwood"
    {
      image
        {
          function = SHADOW
          file = "../images/qgn_plat_single_line_input.png"
          border = { 2, 2, 2, 2 }
        }
    }
}

widget_class "*.HildonDateEditor.GtkFrame" style "osso-date-editor-frame"
