# Copyright Nokia Corporation 2007
# Licensed under Creative Commons Attribution-ShareAlike 2.5 license

style "osso-caption-control"
{
  ythickness = 1
}
class "HildonCaption" style "osso-caption-control"
