# Copyright Nokia Corporation 2007
# Licensed under Creative Commons Attribution-ShareAlike 2.5 license 

style "hildon-apps-menu" {
   GtkMenu::horizontal_padding = 18
   GtkMenu::vertical_padding = 18

   engine "sapwood" {
      image {
	 function = FLAT_BOX
	 state = NORMAL
	 file = "../images/qgn_plat_panemenu_bg.png"
	 border = { 20, 20, 20, 20 }
         shaped = TRUE
      }
   }
}

style "hildon-apps-menu-pane1"
{
  bg[NORMAL] = "#555753"
}

style "hildon-apps-menu-pane1-item"
{
  engine "sapwood"
  {
    image
    {
      function = BOX
      state = PRELIGHT
      file = "../images/qgn_plat_pane1_focus_active.png"
      border = { 6, 6, 6, 6 }
    }
    image
    {
      function = BOX
      state = SELECTED
      file = "../images/qgn_plat_pane1_focus_passive.png"
      border = { 6, 6, 6, 6 }
    }
  }
}

style "hildon-apps-menu-pane1-arrow"
{
  engine "sapwood"
  {
    image
    {
      function        = ARROW
      state           = INSENSITIVE
      arrow_direction = UP 
      overlay_file    = "../images/qgn_plat_pane_menu1_up_arrow_disabled.png"
      overlay_stretch = FALSE
    }
    image
    {
      function        = ARROW
      state           = PRELIGHT 
      arrow_direction = UP 
      overlay_file    = "../images/qgn_plat_pane_menu1_up_arrow_pressed.png"
      overlay_stretch = FALSE
    }
    image
    {
      function        = ARROW
      state           = SELECTED 
      arrow_direction = UP 
      overlay_file    = "../images/qgn_plat_pane_menu1_up_arrow_pressed.png"
      overlay_stretch = FALSE
    }
    image
    {
      function        = ARROW
      state           = ACTIVE 
      arrow_direction = UP 
      overlay_file    = "../images/qgn_plat_pane_menu1_up_arrow_pressed.png"
      overlay_stretch = FALSE
    }
    image
    {
      function        = ARROW
      arrow_direction = UP 
      overlay_file    = "../images/qgn_plat_pane_menu1_up_arrow_normal.png"
      overlay_stretch = TRUE 
    }
    image
    {
      function        = ARROW
      state           = INSENSITIVE
      arrow_direction = DOWN 
      overlay_file    = "../images/qgn_plat_pane_menu1_down_arrow_disabled.png"
      overlay_stretch = FALSE
    }
    image
    {
      function        = ARROW
      state           = PRELIGHT 
      arrow_direction = DOWN 
      overlay_file    = "../images/qgn_plat_pane_menu1_down_arrow_pressed.png"
      overlay_stretch = FALSE
    }
    image
    {
      function        = ARROW
      state           = SELECTED 
      arrow_direction = DOWN 
      overlay_file    = "../images/qgn_plat_pane_menu1_down_arrow_pressed.png"
      overlay_stretch = FALSE
    }
    image
    {
      function        = ARROW
      state           = ACTIVE 
      arrow_direction = DOWN 
      overlay_file    = "../images/qgn_plat_pane_menu1_down_arrow_pressed.png"
      overlay_stretch = FALSE
    }
    image
    {
      function        = ARROW
      arrow_direction = DOWN 
      overlay_file    = "../images/qgn_plat_pane_menu1_down_arrow_normal.png"
      overlay_stretch = FALSE
    }
  }
}

style "hildon-apps-menu-pane2"
{
  bg[NORMAL] = "#888A85"
}

style "hildon-apps-menu-pane2-item"
{
  engine "sapwood"
  {
    image
    {
      function = BOX
      state = PRELIGHT
      file = "../images/qgn_plat_pane2_focus_active.png"
      border = { 6, 6, 6, 6 }
    }
    image
    {
      function = BOX
      state = PRELIGHT
      file = "../images/qgn_plat_pane2_focus_passive.png"
      border = { 6, 6, 6, 6 }
    }
  }
}

style "hildon-apps-menu-pane2-arrow"
{
  engine "sapwood"
  {
    image
    {
      function        = ARROW
      state           = INSENSITIVE
      arrow_direction = UP 
      overlay_file    = "../images/qgn_plat_pane_menu2_up_arrow_disabled.png"
      overlay_stretch = FALSE
    }
    image
    {
      function        = ARROW
      state           = PRELIGHT 
      arrow_direction = UP 
      overlay_file    = "../images/qgn_plat_pane_menu2_up_arrow_normal.png"
      overlay_stretch = FALSE
    }
    image
    {
      function        = ARROW
      state           = SELECTED 
      arrow_direction = UP 
      overlay_file    = "../images/qgn_plat_pane_menu2_up_arrow_pressed.png"
      overlay_stretch = FALSE
    }
    image
    {
      function        = ARROW
      state           = ACTIVE 
      arrow_direction = UP 
      overlay_file    = "../images/qgn_plat_pane_menu2_up_arrow_pressed.png"
      overlay_stretch = FALSE
    }
    image
    {
      function        = ARROW
      arrow_direction = UP 
      overlay_file    = "../images/qgn_plat_pane_menu2_up_arrow_normal.png"
      overlay_stretch = TRUE 
    }
    image
    {
      function        = ARROW
      state           = INSENSITIVE
      arrow_direction = DOWN 
      overlay_file    = "../images/qgn_plat_pane_menu2_down_arrow_disabled.png"
      overlay_stretch = FALSE
    }
    image
    {
      function        = ARROW
      state           = PRELIGHT 
      arrow_direction = DOWN 
      overlay_file    = "../images/qgn_plat_pane_menu2_down_arrow_normal.png"
      overlay_stretch = FALSE
    }
    image
    {
      function        = ARROW
      state           = SELECTED 
      arrow_direction = DOWN 
      overlay_file    = "../images/qgn_plat_pane_menu2_down_arrow_pressed.png"
      overlay_stretch = FALSE
    }
    image
    {
      function        = ARROW
      state           = ACTIVE 
      arrow_direction = DOWN 
      overlay_file    = "../images/qgn_plat_pane_menu2_down_arrow_pressed.png"
      overlay_stretch = FALSE
    }
    image
    {
      function        = ARROW
      arrow_direction = DOWN 
      overlay_file    = "../images/qgn_plat_pane_menu2_down_arrow_normal.png"
      overlay_stretch = FALSE
    }
  }
}

style "hildon-apps-menu-pane-label"
{
  fg[NORMAL] = "#FFFFFF"
}

style "hildon-apps-menu-pane-button"
{
  engine "sapwood"
  {
    image
    {
      function = BOX 
    }
  }
}

widget "hildon-apps-menu" style "hildon-apps-menu"
widget "*.hildon-apps-menu-pane1" style "hildon-apps-menu-pane1"
widget "*.hildon-apps-menu-pane1.GtkViewport"  style "hildon-apps-menu-pane1"
widget "*.hildon-apps-menu-pane2" style "hildon-apps-menu-pane2"
widget "*.hildon-apps-menu-pane2.GtkViewport"  style "hildon-apps-menu-pane2"
widget "*.hildon-apps-menu-pane1-item" style "hildon-apps-menu-pane1-item"
widget "*.hildon-apps-menu-pane2-item" style "hildon-apps-menu-pane2-item"
widget "*.hildon-apps-menu-pane1-item.*.GtkLabel"  style "hildon-apps-menu-pane-label"
widget "*.hildon-apps-menu-pane2-item.*.GtkLabel"  style "hildon-apps-menu-pane-label"
widget "*.hildon-apps-menu-pane1-button"  style "hildon-apps-menu-pane-button"
widget "*.hildon-apps-menu-pane2-button"  style "hildon-apps-menu-pane-button"
widget "*.hildon-apps-menu-pane1.*.GtkArrow"  style "hildon-apps-menu-pane1-arrow"
widget "*.hildon-apps-menu-pane2.*.GtkArrow"  style "hildon-apps-menu-pane2-arrow"
