# Copyright Nokia Corporation 2007
# Licensed under Creative Commons Attribution-ShareAlike 2.5 license

#################################################### 
# HILDON home
#################################################### 


style "osso-home-leftedge" {
	bg_pixmap[NORMAL] = "../images/qgn_plat_home_border_left.png"
}
widget "HildonHomeLeftEdge" style "osso-home-leftedge"

style "osso-home-titlebar-background" {
	bg_pixmap[NORMAL] = "../images/qgn_plat_home_status_bar_background.png"
}
widget "HildonHomeTitleBar" style "osso-home-titlebar-background"

