# Copyright Nokia Corporation 2007
# Licensed under Creative Commons Attribution-ShareAlike 2.5 license

####################################################
#
# HILDON CALENDAR
#
####################################################

style "hildon-calendar" = "osso-logical-colors"
{
  GtkWidget::scroll-arrow-vlength = 26
  GtkWidget::scroll-arrow-hlength = 26

  xthickness = 0
  ythickness = 0
  text[SELECTED] = @DefaultTextColor

  engine "sapwood" {
  
    # Image used for indicating the current actual date  
    image {
      function = BOX
      state = NORMAL
      detail = "current-day"
      file = "../images/qgn_plat_calendar_current_day_indicator.png"
      border = {4,4,4,4}
    }
    
    # Image used for indicating the currently selected day
    image {
      function = BOX
      state = NORMAL
      detail = "active-day"
      file = "../images/qgn_plat_calendar_active_day_indicator.png"
      border = {1,1,1,1}
    }
    
    # Image used for indicating the current week in week number column
    # and the current weekday in weekday list row.
    image {
      function = BOX
      state = NORMAL
      detail = "passive-focus"
      file = "../images/qgn_plat_calendar_week_day_indicator.png"
      border = {2,2,2,2}
    }
  }
}

class "HildonCalendar" style "hildon-calendar"
