# Copyright Nokia Corporation 2007
# Licensed under Creative Commons Attribution-ShareAlike 2.5 license

####################################################
#
# Style for the hildon-bread-crumb-button
#
####################################################


style "osso-breadcrumb-button" = "osso-logical-colors" {

    GtkWidget::focus-line-pattern = "\0\0\0\0\0\0\0\0"
    GtkWidget::focus-width = 0
    GtkButton::default_border = { 0, 0, 0, 0 }
    GtkButton::child-displacement-x = 0
    GtkButton::child-displacement-y = 1
    GtkButton::interior_focus = 0
    GtkButton::child_spacing = 1
    xthickness = 0
    ythickness = 0

    fg[INSENSITIVE] = @DefaultTextColor

    engine "sapwood" {

        image {
            function = FOCUS
            state    = ACTIVE
            file     = "../images/qgn_plat_button_breadcrumb_pressed.png"
            border   = { 14, 14, 14, 14 }
        }
        image {
            function = FOCUS
            file     = "../images/qgn_plat_button_breadcrumb_focused.png"
            border   = { 14, 14, 14, 14 }
        }
        image {
            function = BOX
            shadow   = IN
            file     = "../images/qgn_plat_button_breadcrumb_pressed.png"
            border   = { 14, 14, 14, 14 }
        }
        image {
            function = BOX
            state    = SELECTED
            file     = "../images/qgn_plat_button_breadcrumb_pressed.png"
            border   = { 14, 14, 14, 14 }
        }
        image {
            function = BOX
            state    = INSENSITIVE
            # no image
        }
        image {
            function = BOX
            file     = "../images/qgn_plat_button_breadcrumb_normal.png"
            border   = { 14, 14, 14, 14 }
        }

    }
}

widget "*.osso-breadcrumb-button*"   style "osso-breadcrumb-button"
