####################################################  
# OSSO SPEED DIAL APPLET
#
# Copyright 2005 Nokia Oyj
#
####################################################
style "osso-speeddial"
{
  HildonDesktopHomeItem::background-borders = { 25, 25, 25, 25 }
  bg_pixmap[PRELIGHT] = "../images/qgn_plat_gene_applet_bg_alpha.png"
  xthickness = 0
  ythickness = 0

  engine "sapwood"
    {
      image
        {
          function = SHADOW
          file     = "../images/qgn_plat_gene_applet_bg.png"
          border   = { 25, 25, 25, 25 }
          shaped   = TRUE
        }
    }
}
widget "*.osso-speeddial" style "osso-speeddial"
