####################################################  
# OSSO RSS FEED READER
#
# Copyright 2005 Nokia Oyj
#
####################################################
style "osso-rss-feed-reader"
{
  xthickness = 0
  ythickness = 0
  HildonDesktopHomeItem::background-borders = { 55, 55, 55, 15 }
  bg_pixmap[PRELIGHT] = "../images/qgn_plat_news_applet_bg.png"

  engine "sapwood"
    {
      image
        {
          function = SHADOW
          file     = "../images/qgn_plat_news_applet_bg.png"
          border   = { 55, 55, 55, 15 }
          shaped = TRUE
        }
    }
}
widget "*.osso-rss-feed-reader" style "osso-rss-feed-reader"
