# Copyright Nokia Corporation 2007
# Licensed under Creative Commons Attribution-ShareAlike 2.5 license

style "osso-mplayer1-button"
{
  engine "sapwood"
    {
        image {
            function = FOCUS
                state    = ACTIVE
                file     = "../images/qgn_plat_button_mplayer1_pressed_focused.png"
                border   = { 35, 35, 35, 35 }
        }
        image {
            function = FOCUS
                file     = "../images/qgn_plat_button_mplayer1_focused.png"
                border   = { 35, 35, 35, 35 }
        }
        image {
            function = BOX
                state    = ACTIVE
                file     = "../images/qgn_plat_button_mplayer1_pressed.png"
                border   = { 35, 35, 35, 35 }
        }
        image {
            function = BOX
                state    = INSENSITIVE
                file     = "../images/qgn_plat_button_mplayer1_disabled.png"
                border   = { 35, 35, 35, 35 }
        }
        image {
            function = BOX
                file     = "../images/qgn_plat_button_mplayer1_normal.png"
                border   = { 35, 35, 35, 35 }
        }
    }
}

widget "*.Mplayer1Button" style "osso-mplayer1-button"

style "osso-mplayer2-button"
{
  engine "sapwood"
    {
        image {
            function = FOCUS
                state    = ACTIVE
                file     = "../images/qgn_plat_button_mplayer2_pressed_focused.png"
                border   = { 35, 35, 35, 35 }
        }
        image {
            function = FOCUS
                file     = "../images/qgn_plat_button_mplayer2_focused.png"
                border   = { 35, 35, 35, 35 }
        }
        image {
            function = BOX
                state    = ACTIVE
                file     = "../images/qgn_plat_button_mplayer2_pressed.png"
                border   = { 35, 35, 35, 35 }
        }
        image {
            function = BOX
                state    = INSENSITIVE
                file     = "../images/qgn_plat_button_mplayer2_disabled.png"
                border   = { 35, 35, 35, 35 }
        }
        image {
            function = BOX
                file     = "../images/qgn_plat_button_mplayer2_normal.png"
                border   = { 35, 35, 35, 35 }
        }
    }
}

widget "*.Mplayer2Button" style "osso-mplayer2-button"

style "osso-mplayer3-button"
{
  engine "sapwood"
    {
        image {
            function = FOCUS
                state    = ACTIVE
                file     = "../images/qgn_plat_button_mplayer3_pressed_focused.png"
                border   = { 35, 35, 35, 35 }
        }
        image {
            function = FOCUS
                file     = "../images/qgn_plat_button_mplayer3_focused.png"
                border   = { 35, 35, 35, 35 }
        }
        image {
            function = BOX
                state    = ACTIVE
                file     = "../images/qgn_plat_button_mplayer3_pressed.png"
                border   = { 35, 35, 35, 35 }
        }
        image {
            function = BOX
                state    = INSENSITIVE
                file     = "../images/qgn_plat_button_mplayer3_disabled.png"
                border   = { 35, 35, 35, 35 }
        }
        image {
            function = BOX
                file     = "../images/qgn_plat_button_mplayer3_normal.png"
                border   = { 35, 35, 35, 35 }
        }
    }
}

widget "*.Mplayer3Button" style "osso-mplayer3-button"

style "osso-mplayer4-button"
{
  engine "sapwood"
    {
        image {
            function = FOCUS
                state    = ACTIVE
                file     = "../images/qgn_plat_button_mplayer4_pressed_focused.png"
                border   = { 35, 35, 35, 35 }
        }
        image {
            function = FOCUS
                file     = "../images/qgn_plat_button_mplayer4_focused.png"
                border   = { 35, 35, 35, 35 }
        }
        image {
            function = BOX
                state    = ACTIVE
                file     = "../images/qgn_plat_button_mplayer4_pressed.png"
                border   = { 35, 35, 35, 35 }
        }
        image {
            function = BOX
                state    = INSENSITIVE
                file     = "../images/qgn_plat_button_mplayer4_disabled.png"
                border   = { 35, 35, 35, 35 }
        }
        image {
            function = BOX
                file     = "../images/qgn_plat_button_mplayer4_normal.png"
                border   = { 35, 35, 35, 35 }
        }
    }
}

widget "*.Mplayer4Button" style "osso-mplayer4-button"

style "osso-mplayer5-button"
{
        xthickness = 22
        ythickness = 4
}

widget "*.Mplayer5Button" style "osso-mplayer5-button"

style "osso-mplayer6-button"
{
        xthickness = 22
        ythickness = 4
}

widget "*.Mplayer6Button" style "osso-mplayer6-button"

style "osso-mp-button-frame"
{
  engine "sapwood"
    {
        image {
            function = SHADOW
                file     = "../images/qgn_plat_mediaplayer_buttons_bg.png"
                border   = { 55, 55, 112, 112 }
        }
    }
}

widget "*.MplayerButtonFrame" style "osso-mp-button-frame"

style "mediaplayer-tab-right" = "osso-window-background" {
   engine "sapwood" {
	image {
		function = BOX
		state = NORMAL
		detail = "toolbar-frame-top"
		file = "../images/qgn_plat_toolbar_frame_top_right_tab.png"
		border = { 24, 198, 0, 0 }
		stretch = TRUE
	}
        image {
		function = BOX
		state = NORMAL
		detail = "toolbar-frame-bottom"
		file = "../images/qgn_plat_toolbar_frame_bottom_right_tab.png"
		border = { 24, 198, 0, 0 }
		stretch = TRUE
	}
	image {
		function = BOX
		state = NORMAL
		detail = "toolbar"
		file = "../images/qgn_plat_toolbar_right_tab.png"
		border = { 24, 198, 0, 0 }
		stretch = TRUE
	}
	image {
		function = BOX
		state = NORMAL
		detail = "toolbar-fullscreen-frame-top"
		file = "../images/qgn_plat_toolbar_fullscreen_frame_top_right_tab.png"
		border = { 24, 198, 0, 0 }
		stretch = TRUE
	}
	image {
		function = BOX
		state = NORMAL
		detail = "toolbar-fullscreen-frame-middle"
		file = "../images/qgn_plat_toolbar_fullscreen_frame_middle.png"
		border = { 24, 198, 0, 0 }
		stretch = TRUE
	}
	image {
		function = BOX
		state = NORMAL
		detail = "toolbar-fullscreen-frame-bottom"
		file = "../images/qgn_plat_toolbar_fullscreen_frame_bottom_right_tab.png"
		border = { 24, 198, 0, 0 }
		stretch = TRUE
	}
	image {
		function = BOX
		state = NORMAL
		detail = "findtoolbar-fullscreen"
		file = "../images/qgn_plat_toolbar_fullscreen_find.png"
		border = { 24, 198, 0, 0 }
		stretch = TRUE
	}
	image {
		function = BOX
		state = NORMAL
		detail = "toolbar-fullscreen"
		file = "../images/qgn_plat_toolbar_fullscreen_right_tab.png"
		border = { 24, 198, 0, 0 }
		stretch = TRUE
	}
   }
}

widget "MediaPlayerTabNowPlaying" style "mediaplayer-tab-right"

style "mediaplayer-tab-left" = "osso-window-background" {
    engine "sapwood" {
	image {
		function = BOX
        	state = NORMAL
		detail = "toolbar-frame-top"
		file = "../images/qgn_plat_toolbar_frame_top_left_tab.png"
		border = { 24, 198, 0, 0 }
		stretch = TRUE
	}
	image {
		function = BOX
		state = NORMAL
		detail = "toolbar-frame-bottom"
		file = "../images/qgn_plat_toolbar_frame_bottom_left_tab.png"
		border = { 24, 198, 0, 0 }
		stretch = TRUE
	}
	image {
		function = BOX
		state = NORMAL
		detail = "toolbar"
		file = "../images/qgn_plat_toolbar_left_tab.png"
		border = { 24, 198, 0, 0 }
		stretch = TRUE
	}
	image {
		function = BOX
		state = NORMAL
		detail = "toolbar-fullscreen-frame-top"
		file = "../images/qgn_plat_toolbar_fullscreen_frame_top_left_tab.png"
        	border = { 24, 198, 0, 0 }
		stretch = TRUE
	}
	image {
		function = BOX
		state = NORMAL
		detail = "toolbar-fullscreen-frame-middle"
		file = "../images/qgn_plat_toolbar_fullscreen_frame_middle.png"
		border = { 24, 198, 0, 0 }
		stretch = TRUE
	}
	image {
		function = BOX
		state = NORMAL
		detail = "toolbar-fullscreen-frame-bottom"
		file = "../images/qgn_plat_toolbar_fullscreen_frame_bottom_left_tab.png"
		border = { 24, 198, 0, 0 }
		stretch = TRUE
	}
	image {
		function = BOX
		state = NORMAL
		detail = "findtoolbar-fullscreen"
		file = "../images/qgn_plat_toolbar_fullscreen_find.png"
		border = { 24, 198, 0, 0 }
		stretch = TRUE
	}
	image {
		function = BOX
		state = NORMAL
		detail = "toolbar-fullscreen"
		file = "../images/qgn_plat_toolbar_fullscreen_left_tab.png"
		border = { 24, 198, 0, 0 }
		stretch = TRUE
	}
   }
}

widget "MediaPlayerTabLibrary" style "mediaplayer-tab-left"
