####################################################
# OSSO Global search theming
#
# Copyright 2006 Nokia Oyj
#
#
####################################################


style "osso-hitentry" = "osso-logical-colors" 
{ 
  engine "sapwood" 
  { 
    image 
    { 
      function = FLAT_BOX 
      state = SELECTED 
      detail = "eventbox" 
      file = "../images/qgn_plat_focus_selection.png" 
      border = { 2, 2, 2, 2 } 
    } 

    image
    {
      function = FOCUS
      detail = "eventbox"
      file = "../images/qgn_plat_focus_active.png"
      border = { 2, 2, 2, 2 }
    }
  } 
} 

widget_class "*.OgsHitEntry" style "osso-hitentry" 
widget_class "*.OgsFileEntry" style "osso-hitentry" 
widget_class "*.OgsBookmarkEntry" style "osso-hitentry" 
widget_class "*.OgsContactEntry" style "osso-hitentry" 
