####################################################  
# OSSO INTERNET SEARCH APPLET
#
# Copyright 2005, 2006, 2007 Nokia Oyj
#
####################################################
style "osso-internetsearch-applet"
{
  HildonDesktopHomeItem::background-borders = { 18, 18, 18, 18 }
  bg_pixmap[PRELIGHT] = "../images/qgn_plat_home_search_bg_alpha.png"

  engine "sapwood"
    {
      image
        {
          function = BOX
          file     = "../images/qgn_plat_home_search_bg.png"
          border   = { 18, 18, 18, 18 }
        }
    }
}
class "IsPlugin" style "osso-internetsearch-applet"

style "osso-internetsearch-applet-button"
{
  engine "sapwood"
    {
      image
        {
          function = BOX
        }
      image
        {
          function = FOCUS
        }
    }
}

widget_class "*.IsPlugin.GtkHBox.GtkButton" style "osso-internetsearch-applet-button"
