# theme specific stuff here. Included by gtkrc.

##############################
#
# Logical color definitions
#
##############################

style "osso-logical-colors" {
	color["DefaultTextColor"]        = "@DefaultTextColor@"
	color["EmpTextColor"]            = "@EmpTextColor@"
	color["PaintedDefaultTextColor"] = "@PaintedDefaultTextColor@"
	color["DisabledTextColor"]       = "@DisabledTextColor@"
	color["ProgressTextColor1"]      = "@ProgressTextColor1@"
	color["ProgressTextColor2"]      = "@ProgressTextColor2@"
	color["SecondaryTextColor"]      = "@SecondaryTextColor@"
	color["TitleTextColor"]          = "@TitleTextColor@"
	color["DialogTitleTextColor"]    = "@DialogTitleTextColor@"
	
	color["ClearButtonTextColor"]    = "@ClearButtonTextColor@"
	color["MemButtonTextColor"]      = "@MemButtonTextColor@"
	
	color["HWRAlphaTextColor"]       = "@HWRAlphaTextColor@"
	color["HWRNumberTextColor"]      = "@HWRNumberTextColor@"
	color["HWRDimmedTextColor"]      = "@HWRDimmedTextColor@"
	color["HWRIllegalTextColor"]     = "@HWRIllegalTextColor@"
	
	color["WebTextColor"]            = "@WebTextColor@"
	color["DimWebTextColor"]         = "@DimWebTextColor@"
	color["LinkTextColor"]           = "@LinkTextColor@"
	color["VisitedLinkTextColor"]    = "@VisitedLinkTextColor@"
	
	color["DefaultBackgrdColor"]     = "@DefaultBackgrdColor@"
	color["PaintedBackgrdColor"]     = "@PaintedBackgrdColor@"
	color["ImageBackgrdColor"]       = "@ImageBackgrdColor@"
	
	color["InputBackgrdColor"]       = "@InputBackgrdColor@"
	color["HWRAlphaBackgrdColor"]    = "@HWRAlphaBackgrdColor@"
	color["HWRPunctBackgrdColor"]    = "@HWRPunctBackgrdColor@"
	color["HWRContBackgrdColor"]     = "@HWRContBackgrdColor@"
	color["HWRHyphBackgrdColor"]     = "@HWRHyphBackgrdColor@"
	
	color["WebBackgrdColor"]         = "@WebBackgrdColor@"
	
	color["ImageBorderColor"]        = "@ImageBorderColor@"
	color["FocusColor"]              = "@FocusColor@"
	color["SelectionColor"]          = "@SelectionColor@"
	
	color["MapTopLeftColor"]         = "@MapTopLeftColor@"
	color["MapBottomRightColor"]     = "@MapBottomRightColor@"
	color["ClockHandColor"]          = "@ClockHandColor@"
	
	color["HWRBaselineColor"]        = "@HWRBaselineColor@"
	color["HWRRecogColor"]           = "@HWRRecogColor@"
	color["HWRUserColor"]            = "@HWRUserColor@"
	color["HWRUserBackgrdColor"]     = "@HWRUserBackgrdColor@"
	color["HWRHintColor"]            = "@HWRHintColor@"

	color["ChatUserNameColor"]       = "@ChatUserNameColor@"
	color["ChatParticipantNameColor"]= "@ChatParticipantNameColor@"
	color["ChatEventColor"]          = "@ChatEventColor@"
	
	color["CallHeaderBlockBgColor"]  = "@CallHeaderBlockBgColor@"
	color["CallHeaderOnHoldBlockBgColor"] = "@CallHeaderOnHoldBlockBgColor@"
	
	color["MenuInfoTextColor"]       = "@MenuInfoTextColor@"
        color["VKBButtonTextColor"]      = "@VKBButtonTextColor@"
}

##############################
#
# Font definitions
#
##############################

style "osso-SystemFont" {
	font_name = "Nokia Sans 16.75"
}

style "osso-EmpSystemFont" {
	font_name = "Nokia Sans Bold 16.75"
}

style "osso-TitleFont" {
	font_name = "Nokia Sans 16.75"
}

style "osso-ButtonFont" {
	font_name = "Nokia Sans 16.75"
}

style "osso-SmallFont" {
	font_name = "Nokia Sans 11.625"
}

style "osso-LargeFont" {
	font_name = "Nokia Sans 29.5"
}

style "osso-HWRFont1"
{
  font_name = "Nokia Sans 52"
}

style "osso-HWRFont2"
{
  font_name = "Nokia Sans 38"
}

######################################
#
# Application menu popup position
#
# The position of application menu relative to application upper-left 
# position (horizontal = 80, vertical = 60) so adjust below
# horizontal-offset and vertical-offset to change it from the application
# upper-left position. The values can be negative too.
#
######################################

style "osso-application-menu-popup-position"
{
  GtkMenu::horizontal-offset = 10
  GtkMenu::vertical-offset = -13
}

##############################
#
# WARNING : DEPRECATED
#
# Zoomed font sizes
#
# All of these now use the exactly same font & size
#
# WARNING : DEPRECATED
#
##############################

widget "hildon-zoom-small" style "osso-SystemFont"
widget "hildon-zoom-medium" style "osso-SystemFont"
widget "hildon-zoom-large" style "osso-SystemFont"
