Source: hildon-home-webshortcut
Section: x11
Priority: optional
Maintainer: Johan Bilien <johan.bilien@nokia.com>
Build-Depends: debhelper (>= 4.0.0), pkg-config, hildon-libs-dev (>= 0.7.1), libosso-dev (>= 0.9.18), osso-af-settings, osso-ic-dev, hildon-fm-dev (>= 0.15), libossomime-dev
Standards-Version: 3.6.0

Package: hildon-home-webshortcut
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, hildon-home-image-viewer-l10n-mr | hildon-home-image-viewer-l10n-mr0
Replaces: hildon-home-image-viewer
Conflicts: hildon-home-image-viewer
Description: Hildon Home Webshortcut plugin
 Webshortcut plugin for Hildon Home

Package: hildon-home-webshortcut-dbg
Section: libs
Architecture: any
Replaces: hildon-home-image-viewer-dbg
Conflicts: hildon-home-image-viewer-dbg
Depends: hildon-home-webshortcut (=${Source-Version})
Description: Hildon Home Webshortcut plugin debug symbols
 Debug symbols for the Hildon Home Webshortcut
