Run-time configure options of the maemo-af-desktop
--------------------------------------------------

You can set some environment variables to control how the task
navigator reacts to certain memory related dbus signals:

- NAVIGATOR_DO_BGKILL=yes

This will kill all bakcgriounded killable applications when we are in
the 'bgkill' situation.  The default is to do no bgkilling.

- NAVIGATOR_LAUNCHBANNER_TIMEOUT=xxxxx

This will control how many milliseconds it takes for the launch banner
to timeout automatically. Maximum accepted value is 60 seconds
(i.e. 60000 milliseconds). Value of 0 disables the launch banner
functionality.  The default is 0.

(in traditional configuration, this was 20000)

- NAVIGATOR_DIM_ON_LOWMEM=yes

This will dim all buttons that can start new applications when we are
in a 'lowmem' situation.  The default is not to do this.  When a
button is dimmed, it will display a infoprint.


- NAVIGATOR_DIALOG_ON_LOWMEM=yes

This will put up a dialog upon entering the 'lowmem' situation and an
info note upon leaving it, which is the default.  Set the variable to
"no" to turn it off.


** Plan A configuration (default)

NAVIGATOR_DO_BGKILL=no
NAVIGATOR_LAUNCHBANNER_TIMEOUT=0
NAVIGATOR_DIM_ON_LOWMEM=no
NAVIGATOR_DIALOG_ON_LOWMEM=yes

** Plan B configuration

NAVIGATOR_DO_BGKILL=yes
NAVIGATOR_LAUNCHBANNER_TIMEOUT=0
NAVIGATOR_DIM_ON_LOWMEM=yes
NAVIGATOR_DIALOG_ON_LOWMEM=no
