Source: hello-world-app
Section: user/other
Priority: optional
Maintainer: Marius Vollmer <marius.vollmer@nokia.com>
Build-Depends: debhelper (>= 4.0.0), libgtk2.0-dev, libosso-dev (>= 1)
Standards-Version: 3.6.0

Package: hello-world-app
Architecture: any
Pre-Depends: maemo-select-menu-location
Depends: ${shlibs:Depends}
Description: An example package for the application installer
 It contains an application, a control panel plugin, a home plugin, a
 statusbar plugin, a shared library, and a GNU icon.
