#!/usr/bin/make -f

PYVER=2.4
PYTHON=python$(PYVER)
d=debian/$(PYTHON)-runtime

clean:
	dh_testdir
	dh_clean
	
build:

binary:
binary-indep:
binary-arch:
	dh_clean -k
	dh_testdir
	dh_md5sums
	dh_gencontrol
	dh_builddeb

.PHONY: build clean binary binary-indep binary-arch
