Source: libosso-common-error
Section: base
Priority: standard
Maintainer: Mohammad Anwari <Mohammad.Anwari@nokia.com> 
Build-Depends: debhelper (>= 4.0.0), gettext, intltool
Standards-Version: 3.6.0

Package: libosso-common-error0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, libosso-common-error-l10n-3.0-engb | libosso-common-error-l10n-3.0-english
Description: OSSO Common Error libray
 Library for common error.

Package: libosso-common-error-dev
Section: base
Architecture: any
Depends: libosso-common-error0 (= ${Source-Version}) 
Description: OSSO Common Error libray
 Header for common error.
